[2013-09-05 06:21] rgov opened #1 "Thank Steve Poland for the 'stp' organization name"
@StevePoPo was kind enough to relinquish the 'stp' name on GitHub to allow this project to take it. We should mention this in the credits somewhere.

[2013-09-05 06:30] rgov opened #2 "Move to CryptoMiniSat 2 as a submodule"
We should use a Git submodule for [CryptoMiniSat 2](https://github.com/msoos/cryptominisat/tree/cryptominisat-2.9.8), and ensure that all references to its license are updated to reflect the fact that it is MIT licensed.

[2013-09-05 06:48] rgov opened #3 "Move OCaml wrapper to separate repo"
The OCaml wrapper is not part of the STP core and does not appear to have been modified in many years. It should be moved to a separate repo, or removed if it is no longer supported.

[2013-09-05 07:25] rgov opened #4 "Replace Bit::Vector"
`Bit::Vector` aka `CONSTANTBV` is [LGPL-2](http://www.gnu.org/licenses/old-licenses/lgpl-2.0.html) licensed, and the implementation is somewhat cumbersome to use.

Here are the operations that are currently used, most of which would need to be reimplemented:

[code]

[2013-09-05 07:45] rgov opened #5 "Remove dependency on Boost"
From a cursory grep of the source, it looks like [noncopyable](http://www.boost.org/doc/libs/1_54_0/boost/noncopyable.hpp) is the only Boost feature that is used currently.

CryptoMiniSat also shed its Boost dependency in 2.8.0beta2.

[2013-09-05 08:01] rgov opened #6 "Investigate Travis CI for continuous integration"
We should set the project up to use [Travis CI](https://travis-ci.org) for monitoring that all changes build successfully and do not break test cases.

Here's an [example](https://travis-ci.org/topazproject/topaz), for the Topaz project.

[2013-09-05 08:13] rgov opened #7 "Add msc99hdr license to LICENSE_COMPONENTS"
The header files in `windows/winports/msc99hdr/` contain a BSD license that is not referenced in the LICENSE_COMPONENTS file. If the `windows/` directory is still necessary, then its license should be documented in the standard place.

[2013-09-05 08:40] rgov opened #8 "Migrate build system to CMake"
We should replace the Autotools build system with CMake. [Mate's fork](https://github.com/msoos/stp) has already done this so we just need to pull those patches here.

[2013-09-05 16:39] msoos opened #10 "Remove "using namespace std"-s"
Code has a couple of "using namespace std". As you might imagine ts makes the code littered with "max" and other stuff that is really hard to spot (is it  define? C func? etc)  Takes 15min to remove, I did that for my fork, but can't merge. I would like to do it, but elbow broken so probably not a good moment to type a lot :)

I am personally fine with e.g. "using std::vector" but importing the wh

[2013-09-05 19:35] rgov opened #11 "Create tool for reducing failing inputs"
In the past I've hit crashes in STP that required some effort to manually reduce down to the smallest failure-inducing input.

Tools like [C-Reduce](http://embed.cs.utah.edu/creduce/) can automatically reduce C files that trigger compiler bugs, using [delta debugging](http://www.st.cs.uni-saarland.de/dd/).

C-Reduce relies on [Delta](http://delta.tigris.org) which could be used to reduce CVC and S

[2013-09-05 20:50] msoos opened #12 "Import fuzzer from my repo"
I wrote a fuzzer system that does some fun stuff, it's in my repo. It checks unsat with another smt solver, and also fuzzes options. It also checks timings, can use muliple fuzzers, runs multi-threaded... etc. It should also be able to check SAT solutions. Shouldn't be that hard. I need to re-licence it to MIT and move it over.

[2013-09-05 20:52] msoos opened #13 "Expose more internal options, maybe in a hidden way to improve fuzzing"
Much more options should be exposed (maybe as hidden options to make things easier to normal users). It would help us fuzz a LOT more of the internals. I have some experience with fuzzing:

http://www.msoos.org/2013/08/my-sat-solver-fuzzing-setup/

and it turns out that if you expose e.g. heuristic cut-offs you can fuzz a lot more, as the cut-offs are sometimes only hit by e.g. large instances, Yo

[2013-09-05 20:58] msoos opened #14 "Write new fuzzers"
We need to make sure that as we clean up the code, we don't introduce bugs. Best would be unit tests, but since we currently lack that, let's go for something else: more fuzzing. According to my experience, orthogonal fuzzers catch very different bugs. One fuzzer may never crash the system while the other does it every time. Currently we have only one fuzzer (fuzzsmt by Brummayer and Biere). That

[2013-09-06 00:47] khooyp opened #16 "Eliminate dependency on zlib"
The included Minisat depends on zlib, though it's completely unused by STP as far as I can tell. I've had a number of people contact me about problems compiling Otter (https://bitbucket.org/khooyp/otter) that uses STP, and they usually involve zlib.

[2013-09-06 01:11] rgov opened #17 "Support instrumented builds with Address Sanitizer"
[Address Sanitizer](https://code.google.com/p/address-sanitizer/) is a memory error detector, similar to Valgrind, that is available in LLVM 3.1 and GCC 4.8. Unlike Valgrind, it involves adds instrumentation at compile-time and compares very favorably in performance overhead.

I don't see a reason not to support Valgrind in parallel, but it does not work very well on OS X so I cannot test with it.

[2013-09-06 02:21] rgov opened #18 "vc_sbvModExpr and vc_sbvRemExpr implementations are reversed"
`vc_sbvModExpr` creates a `BEEV::SBVREM` binary term, and `vc_sbvRemExpr` creates a `BEEV::SBVMOD` binary term, which is reversed.

[2013-09-06 08:08] rgov opened #21 "Clean up hash_set and hash_map"
AST/UsefulDefs.h has a mess of preprocessor directives to figure out where to find [unordered_set](http://www.cplusplus.com/reference/unordered_set/unordered_set/) aka hash_set and the corresponding map type. It doesn't support the C++11 versions of these headers, which is easy enough to add, but complicates the file further.

My current solution has been to add CMake modules that identify the cor

[2013-09-06 22:55] #12 closed, assigned to msoos

[2013-09-07 00:26] khooyp opened #24 "Use BOOLEXTRACT in c_interface.cpp"
After #23, a simple task would be to reimplement vc_bvBoolExtract\* using BOOLEXTRACT.

[2013-09-07 01:46] rgov opened #26 "Re-evaluate hash-based data structures"
STP seems to make heavy use of the hash_set, hash_map, and hash_multiset data structures. These should be reviewed and replaced with std::{set,map,multiset} where appropriate.

Often the data stored in the container is a C string, but `std::hash` calculates over the address of the string rather than its contents. Consequently two strings which are equal according to the `eqstr` will probably not h

[2013-09-07 08:07] #21 closed, assigned to rgov

[2013-09-07 10:24] msoos opened #27 "Replace __STDC_LIMIT_MACROS with std::numric_limits<>"
I think it's only used in MiniSat, but if used elsewhere, it needs to be replaced, too. These limit macros are quite ugly.

[2013-09-07 10:25] msoos opened #28 "Replace __STDC_FORMAT_MACROS with std::cout"
According to my experience, serious bugs slip in when using these macros. std::cout will always correctly display the value, whatever the type.

[2013-09-07 11:00] #8 closed, assigned to msoos

[2013-09-07 12:38] #10 closed, assigned to nobody

[2013-09-07 13:21] #28 closed, assigned to nobody

[2013-09-07 13:23] msoos opened #30 "Remove nonstandard stdint.h included in source"
This might be a bit of a long-term goal, but it's really not nice to have this non-standard header there. New Visual C++ has these defined thanks to c++11 so I think we might be lucky to remove it later without breaking builds on windows.

[2013-09-07 13:31] #27 closed, assigned to nobody

[2013-09-08 05:09] #6 closed, assigned to rgov

[2013-09-08 05:31] #5 closed, assigned to rgov

[2013-09-08 05:33] rgov opened #33 "Teach Travis to run tests"
Right now Travis CI is only building the project, but not running tests. This is important for knowing whether or not we have introduced a regression.

I'm hoping to get testing in place before merging the growing number of pull requests for refactoring and bug fixes.

[2013-09-08 07:37] #3 closed, assigned to nobody

[2013-09-10 15:16] msoos opened #37 "Make nightly fuzz-tests and publish on a website + send emails in case of failure"
I will set up a system to perform e.g. 1000 fuzz-tests every night and put the results up to a webiste. I will also set it up to send an email if anything failed.

[2013-09-11 10:58] cptjazz opened #38 "libstp.a not built anymore since CMake"
It seems to me, the libstp.a (as needed by eg. KLEE) is not built anymore since the transition to the CMake build system.

Or am I missing some targets/settings?

[2013-09-16 08:26] jeffball55 opened #40 "STP segfaults on bitvector with length 0"
STP segfaults in BitVector_equal when run against the following invalid SMT2 input:  "(assert (= (_ bv1 0) (_ bv0 0)))".  Although the input is invalid (a Bitvector of length 0), the expected output would be exiting with an error message instead of segfaulting.

OS: Ubuntu 13.04
Arch: x86_64
Recreation Steps:  `echo "(assert (= (_ bv1 0) (_ bv0 0)))" > a.smt2
stp a.smt2`

dmesg output:
stp[8323]:

[2013-09-18 02:30] #38 closed, assigned to nobody

[2013-09-18 19:35] #40 closed, assigned to msoos

[2013-09-18 19:42] #7 closed, assigned to nobody

[2013-09-18 20:57] msoos opened #42 "Implement integer over & underflow predicates"
STACK (https://github.com/xiw/stack and http://css.csail.mit.edu/stack/) needs integer over & underflow predicates. STACK a pretty neat tool, would be nice to have it working with STP.

The creator&maintainer of STACK is @xiw in case he needs to be contacted. There are number of interfaces for different SMT solvers (boolector, Z3, SONOLAR) so implementing STP would not be a big deal, but some pred

[2013-09-21 16:53] msoos opened #43 "Generate & review Coverty analysis reports"
Coverty gives free analysis to free software. I believe MIT is free in this sense, we have to check. If so, using it is a really good idea -- I use it for CryptoMiniSat and it gives excellent feedback. I'll sign STP up if it's eligible and then we can see what it gives.

[2013-09-23 17:46] capiman opened #44 "Error in CMakeLists.txt - 3 times the same variable name in PATH_HINT"
set(BUILD_SHARED_LIB OFF)
set(FLEX_PATH_HINT "e:/cygwin/bin" CACHE STRING "Flex path hints, can be null if on your path")
set(FLEX_PATH_HINT "e:/cygwin/bin" CACHE STRING "Bison path hints, can be null if on your path")
set(FLEX_PATH_HINT "C:/Perl/bin" CACHE STRING "Perl path hints, can be null if on your pat")

set(PHINTS ${PERL_PATH_HINT} ${FLEX_PATH_HINT} ${BISON_PATH_HINT})

I think 3 x FLEX_PA

[2013-09-24 18:04] #44 closed, assigned to nobody

[2013-09-24 18:46] rgov opened #45 "Clean up bindings, add Python"
I think we should move the C and C++ interfaces to /bindings and add Python. It should be fairly easy to wrap the C interface with the ctypes library.

[2013-09-24 19:16] msoos opened #46 "constantbv.cpp has many potential problems"
Here is a list from LLVM's sanitizer:

[code]

In particular "left shift of negative value -1" is very problematic, it's really undefined behaviour.

I don't know how to address this issue, as this is very hairy code. I'll try to indicate this to upstream, see what they say.

[2013-09-24 19:26] msoos opened #47 "ConstantBitP_Comparison.cpp has a bug"
This function can exit without returning a value:

[code]

This is quite a serious bug. @hellovijay  do you know what should be returned if the for() loop exits?

[2013-09-27 18:01] delcypher opened #48 "libstp.a is VERY broken"
There are lots of problems with this library
- It is **not** possible (at least on UNIX systems) to link a static library to a static library as is done by the current CMake build system. CMake seems to be figuring out the dependencies for the stp executable but libstp.a (and all other static libraries that the CMake build system instructs to link to static libraries) does not have the necessary s

[2013-09-27 20:43] #46 closed, assigned to rgov

[2013-09-27 22:37] #48 closed, assigned to msoos

[2013-09-27 22:39] msoos opened #51 "Fix building mess under /src/sat"
The sources of MiniSat are all over the place, I should put them under the right place. The library build should be a single one or one for each, but currently it's 2 different libs for 4 different things. The build script should also be cleaned up & updated, it's pretty messy right now, especially because of the static linking that is needed for STP users (unfortunately, I might add).

[2013-09-30 19:14] #51 closed, assigned to nobody

[2013-09-30 20:02] delcypher opened #53 "Does libstp need all its targets?"
STP only links to libstp (client library) which contains all other built targets. I'm not sure all these targets need to go in the client library, I was wondering if some of these are only used by the STP binary and therefore shouldn't be in the client library.

For example does the parser belong in there, or should we link that directly with stp instead?

See
https://github.com/stp/stp/blob/965a1

[2013-09-30 20:26] delcypher opened #54 "Fix building shared library"
The build system has the capability to build libstp as a shared library rather than as a static library. Unfortunately it doesn't work because extlib-abc is C code and by default CMake builds that using the C compiler rather than the C++ compiler. This seems to cause linking problems later on (mixing C and C++ compilers is probably not a good idea).

It is possible to force CMake to build extlib-a

[2013-10-11 17:58] edmcman opened #57 "Smtlib2 parser does not parse Let correctly"
See https://gist.github.com/edmcman/6938918#file-example1-smt2

[code]

The problem is that a term is bound inside of a formula.  https://github.com/stp/stp/pull/9 was supposed to fix this, but it was apparently incomplete.  I have spent more time looking at the smtlib2 parser, and I believe this is the correct way to fix it.

[2013-10-11 17:59] #57 closed, assigned to nobody

[2013-10-11 19:06] edmcman opened #59 "Smtlib2 parser does not parse nested Lets correctly"
At the end of a Let v = e in e' expression, all bound let variables are removed from the lexer's scope, instead of just v.

Here is an example input that triggers the bug:

https://gist.github.com/edmcman/6938918#file-example2-smt2

    ed@ed-Ubu64 /tmp$ ~/f13/stp/build/stp example2.smt2
    syntax error: line 10
    syntax error, unexpected STRING_TOK
      token: ?x
    Fatal Error:
    ed@ed-Ub

[2013-10-17 10:17] #53 closed, assigned to nobody

[2013-10-17 12:53] msoos opened #60 "Create wrapper around library functions to create re-playable log"
In case there are any bugs in STP when used as a library, they will be almost impossible to replicate&debug. We should have an option where a log is generated if requested and this log can then be re-played. This would allow us to fix bugs much easier and to do some performance (and maybe coverage) testing.

[2013-10-24 11:21] delcypher opened #62 "SVN STP is out of sync with GitHub"
The STP website ( https://sites.google.com/site/stpfastprover/ ) still lists the old SVN copy of STP ( https://stp-fast-prover.svn.sourceforge.net/svnroot/stp-fast-prover/trunk/stp stp ). This svn repo should be setup to mirror what is on GitHub or it should be removed.

[2013-12-24 10:45] delcypher opened #66 "Proposal: Remove MERGE_STATIC_LIBRARIES"
Hi All,

I'd like to propose that we remove the disgusting **hack** that I added to the build system where the entire contents of several boost libraries were added to the `libstp.a` archive.

The reasons I see for doing this are:
- STP would probably not be accepted as a Linux distribution package if it embeds a copy of the boost libraries inside it.
- Removal of MERGE_STATIC_LIBRARIES will make

[2014-01-16 18:44] msoos opened #68 "Shared library compile bug"
Configure as:

[code]

then during make:

[code]

[2014-01-16 18:46] #68 closed, assigned to nobody

[2014-01-25 09:56] #66 closed, assigned to nobody

[2014-01-30 12:16] delcypher opened #72 "Testing"
I'm not sure how the tests in the repo are meant to be used (e.g. is there a test driver I'm supposed to use??). So I think...
- The documentation needs to state how to run tests.
- The travis build should run these tests.

[2014-03-09 14:53] delcypher opened #77 "Easier install process"
@hellovijay would prefer a simpler install process. Could you state what things you think need addressing?

I recall you saying in #62 that you don't like the Boost dependency. I really don't see this as a problem because Boost is available pretty much everywhere and is very easy to install.

However if you would like something simpler then something we could do is provide our own Ubuntu PPA that

[2014-03-12 14:21] msoos opened #78 "Wrong shifting"
[code]

Is very wrong:

[code]

Any ideas how to fix this?

[2014-03-17 15:17] delcypher opened #79 "Decide what to do with generated query tests"
The new testing infrastructure has an option (`TEST_GENERATED_QUERIES`) to enable these queries but currently this will make the build system fail because I wasn't sure what to do here.

We should decide if we want these tests and if so how we want to implement executing them.

[2014-03-17 15:21] delcypher opened #80 "misc-tests/no-query.cvc triggers assertion failure"
The test triggers an assertion failure

[code]

We should handle this test case in a better way, assertions are for checking assumptions during development, **not** for error checking because they won't be available in a non asserts build.

[2014-03-17 15:49] delcypher opened #81 "Several query file tests cannot be parsed by CVC4 or Z3"
When setting up the query file tests I was using CVC4 and Z3 as oracles to check what the answer to the queries in the test suite should be. There are several queries that are in the CVC and smt formats but CVC4 (or Z3) cannot parse them

e.g.

[code]

The following tests have parsing errors

[code]

If these are easy to fix then we should keep them. Otherwise we should remove them because queries

[2014-03-17 15:57] delcypher opened #82 "Decide what to do with crypto-tests"
I've not setup the tests in `tests/query-files/crypto-tests/`. These need looking at. If they are too slow they need to be put into a different repository for slower tests.

[2014-03-17 16:05] delcypher opened #83 "Fix useless C API tests"
Most of the C API tests don't test anything! They should be ASSERTING various things using the GoogleTest ASSERTION language.

I've added

[code]

to many tests that don't do proper testing.

[2014-03-17 16:09] delcypher opened #84 "Fix TEST(parsefile,missing_file) unit test"
This test will trigger an exit (with or without assertions) when trying to open a file that does not exist. This is **absolutely terrible** design. Libraries in general should **not** trigger an exit in the application that is using them. We should return some sort of error code instead and let the application deal with the problem.

[2014-03-17 16:11] delcypher opened #85 "Decide what to do with various odd programs"
I do not know what to do with the following programs in `tests/api/C`
- biosat-rna.cpp
- cvc-to-c.cpp
- userguided-absrefine.cpp

It is not obvious to me how they could be made into Unit tests.

[2014-03-17 16:22] delcypher opened #86 "Fix leaks for C API tests"
When I enable ``USE_VALGRIND`` the C API tests appear to have lots of memory leaks.

We should investigate these once the test suites have stabilised to passing states without leak checks.

[2014-03-17 16:29] #72 closed, assigned to nobody

[2014-03-18 19:26] smcc opened #88 "The "lit" tool should use its own Python interpreter"
The wiki page about the new testing infrastructure recommends that if you don't have the permissions to install the "lit" tool as part of your system-wide Python installation, you can use the virtualenv tool. However in my testing this didn't actually work, because the Makefile tried to run lit using its own favorite Python interpreter (e.g., /usr/bin/python), whereas virtualenv requires the scrip

[2014-03-19 15:57] #16 closed, assigned to nobody

[2014-03-31 23:50] #84 closed, assigned to nobody

[2014-03-31 23:51] #80 closed, assigned to nobody

[2014-04-01 16:46] delcypher opened #90 "New C interface"
How expressions are cleaned up from the C interface seems totally messed up.

For example `vc_bvConstExprFromInt()` adds the Expression pointer to a `std::vector<BEEV::ASTNode*> persist;` which will later be used by `vc_Destroy()`, but `vc_bvConstExprFromLL()` and many others don't add their nodes to `persist`.

I wrote a test case that exposes this but have not enabled it. To enable
1. Uncomment

[2014-04-21 21:01] nsp opened #91 "Unknown CMake command stp_add_public_header"
Using cmake v2.8.12.1, I get:

[code]

I can see that it is defined in the root CMakeLists.txt, so why can't the inner list find it?

[2014-04-22 23:10] #91 closed, assigned to nobody

[2014-04-29 13:04] ahorn opened #92 "Example build on OS X fails"
Hello,

I have successfully installed STP from source as follows:

[code]

But on OS X (10.9), STP_INCLUDE_DIRS will point to `/path/to/stp/build/include` by default. This means that `simple/example.c` won't compile with the following commands:

[code]

As a sanity check, I confirmed that adding to the file `stp/examples/simple/CMakeLists.txt` the line `include_directories(/path/to/stp/src/c_inter

[2014-04-29 17:28] #92 closed, assigned to nobody

[2014-04-30 09:53] msoos opened #93 "Jurriaan Bremer added a minimalistic python interface"
Hey all, here https://github.com/jbremer/stp/commits/master is a minimal, but pretty cool python interface by Jurriaan Bremer. What do you think of it?

[2014-04-30 15:40] delcypher opened #95 "Replace stale external library ``abc`` with upstream"
The ``abc`` code in the STP repo has been hacked to pieces with various bits of code being commented out.

We should move to having a git submodule that is a mirror of the [upstream mercurial repository](https://bitbucket.org/alanmi/abc/)

There is a previous discussion about this in a closed issue #54

[2014-04-30 15:42] #54 closed, assigned to nobody

[2014-04-30 19:26] ahorn opened #96 "Static Boost dependency"
Hello,

I am trying to install STP on a machine that only has the dynamic Boost library installed. I could change the following:

[code]

But is the diff above supported or would it cause problems later on, e.g. `-fPIC`?

[2014-04-30 20:35] #96 closed, assigned to nobody

[2014-04-30 20:47] ahorn opened #97 "Fatal Error: TermToConstTermUsingModel with multiple instances"
Consider the following minor change:

[code]

Compile and run the modified file as follows:

    $ g++ -I/path/to/stp/target/include -L/path/to/stp/target/lib -lstp example.c
    $ ./a.out

The output is as follows:

[code]

This effectively prevents more than one instance of STP to exist. How could I work around this issue?

[2014-05-03 21:48] ahorn opened #100 "STP Command Line Usage"
Consider the following simple SMT2 input file:

[code]

Clearly, the assertion is satisfiable. But when I run STP from the command line I get no output. So I have double checked also with an unsatisfiable formula. However, the tool produces then no output either. What is the recommended way to invoke the command line tool?

[2014-05-03 22:35] #100 closed, assigned to nobody

[2014-05-03 23:11] ahorn opened #101 "TIMEOUT on simple problem"
As part of an experimental study, I noticed something strange in STP's performance. For example, the short SMT2 input below causes STP to timeout (2+ hours). In contrast, MathSAT5 and Z3 show that the formula is unsatisfiable in less than 1 second. I'd like the experimental comparison with STP to be fair so I wanted to bring up this issue in case there is work in progress to fix it.

(set-logic QF

[2014-05-08 02:54] zlqhem opened #102 "typo error at 'HAVE_FLAG_STD_GNUPP11'"
There's type error in CMakeLists.txt.
It blocks setting compile option "-std=gnu++11".
That option is required for cross compiling STP in linux for windows target.

zlqhem/stp@f61d3e8535b79adeb4ad0a0a8c80e152ffae9f38

[2014-05-14 15:25] LudiusMaximus opened #104 "CNF not created..."
Hi!

I have just started using stp and ran into a problem:

The following file myfile.smt2 is supposed to find solutions for two 8-bit-vectors a_0 and a_1, whose sum is 0x20:

(set-logic QF_BV)
(declare-fun a_0 () (_ BitVec 8) )
(declare-fun a_1 () (_ BitVec 8) )
(declare-fun sum () (_ BitVec 8) )
(assert (= sum (bvadd a_0 a_1 ) ) )
(assert (= sum #x20 ) )
(check-sat)
(exit)

When I call
./stp myf

[2014-05-17 15:42] smcc opened #106 "Crash when "thinking about" divide by zero"
STP has some long-running issues related to division by zero, which I recently noticed can still bite FuzzBALL in the right (wrong) situation. I think it's not clear exactly what semantics we want for the result, which may be part of the problem. Situations where you write an explicit division by zero in the input file can usually be avoided. But it appears you can also create a formula that invol

[2014-06-01 00:46] #93 closed, assigned to nobody

[2014-06-01 00:47] #78 closed, assigned to nobody

[2014-06-01 14:31] #101 closed, assigned to nobody

[2014-06-03 20:29] #102 closed, assigned to nobody

[2014-06-05 11:10] delcypher opened #113 "Move to CryptoMinisatv4"
We currently have an old stale copy of cryptominisat in the repositories. We should get rid of this and instead use a git submodule and pull in the latest and greatest cryptominisat straight from @msoos repository.

[2014-06-18 22:31] jamesjer opened #117 "BBNodeAIG NOR nodes are really OR nodes"
There is an unfortunate break statement just before the negation.  I think you want this patch:

[code]

[2014-06-20 00:59] msoos opened #118 "Lexer complaining"
Warnings thrown:

[code]

[2014-06-20 01:21] msoos opened #119 "Remove #ifdef CRYPTOMINISAT__2 ?"
The code is littered with `#ifdef CRYPTOMINISAT__2` that is used to handle XOR clauses that cryptominisat2 can use. It's disabled and as such, probably broken (code that has been disabled for a while tend to be broken). Should we remove these code snippets? Worst case, we can of course later revert, but I see no reason for it. CryptoMiniSat4 internally does exactly what STP does. I suggest we remo

[2014-06-20 10:59] #118 closed, assigned to nobody

[2014-06-20 19:28] quark17 opened #120 "Assertion failed: (EQ == eq.GetKind()), function ChooseMonom, simplifier/bvsolver.cpp)"
This example would segfault with older STP, so I updated to the latest STP and it at least gives more information about the failure.  During the call to "vc_query" it fails with this:

    Assertion failed: (EQ == eq.GetKind()), function ChooseMonom, file /path/to/stp/src/simplifier/bvsolver.cpp, line 97.
    Abort

The code is this:
[code]

[2014-06-22 16:21] #113 closed, assigned to msoos

[2014-06-22 16:32] #119 closed, assigned to nobody

[2014-06-22 16:34] #33 closed, assigned to rgov

[2014-06-22 16:40] msoos opened #121 "FatalError() ->control reaches end of non-void function"
I have now cleaned up all the warnings so we can actually see the problems. If we now compile, we only get a few warnings, most of which are related to FatalError() being called, but the function it's called from needs a return value. That makes the code behave in an undefined way. We should just come up with a relatively sane return value for each of these. Any ideas what we should return in thes

[2014-06-23 22:11] #30 closed, assigned to nobody

[2014-06-26 23:26] msoos opened #123 "Please read through the description to be submitted to SMT competition"
I have opened a new repo for this, I didn't want to make a mess in STP. It's here:

https://github.com/stp/docs

It will be submitted as the description for STP for the 2014 SMT competition. All your edits are welcome.

[2014-07-04 20:05] delcypher opened #124 "Proposal: Reorganisation of project layout"
I'd like to propose a radical change to STP's code layout

## Why is this needed?

The STP's C++ code currently isn't usable by clients (the ``cpp_interface.h`` header is not usable at all!) because of it's relative ``#include``s (YUCK!). Although it is possible to fix this without reorganising the project tree I want to be able to do this in STP code

``
#include "stp/AST/ASTNode.h
``

without a

[2014-07-06 13:53] #123 closed, assigned to nobody

[2014-07-27 15:29] Daeinar opened #126 "ValueError when using Python bindings"
Hi everyone,

when trying to use the new Python bindings, I run into a ValueError:

[code]

My test code looks like this:

[code]

It seems the problem is with [this line](https://github.com/stp/stp/blob/master/src/interface/python/stp/stp.py#L43). I'm not sure for what the '.' is required in the import statement. Removing it, resolves the issue.

Did I overlook something?

Thanks and all the best

[2014-09-14 21:58] delcypher opened #128 "Create AST unit tests"
There are files that vaguely resemble unit tests in `lib/AST/TestAST`. These should be made in to proper unit tests.

[2014-09-16 00:00] delcypher opened #129 "Stuff in ``lib/Util`` looks dead"
Find out what that stuff is for. We might be able to make unittests from them.

[2014-09-18 18:21] delcypher opened #130 "Remove unnecessary includes"
I'm pretty sure some of the `#include`s are superfluous we should use [include-what-you-use](http://code.google.com/p/include-what-you-use/) to strip out useless includes.

[2014-09-25 06:25] erakadjiev opened #131 "CryptoMinisat4 support does not work after the refactoring"
Hello,

After the recent large refactoring, STP does not build with CryptoMinisat4 support anymore.
The reason is that in `stp/lib/Sat/CryptoMinisat4.cpp` the `#include "CryptoMinisat4.h"` include has not been updated to the new location `#include "stp/Sat/CryptoMinisat4.h"`. With this change, STP+CMSat4 builds successfully, but when I tried to configure KLEE with libstp, I got linker errors, beca

[2014-10-04 23:20] smcc opened #132 "Flex options for interactive (e.g. pipe) use of SMT-LIB2 mode"
Since the SMT-LIB2 standard and STP's implementation thereof support multiple queries interleaved with their output in a single solver session, it seems appealing to use STP in --SMTLIB2 mode connected over a pipe. However this doesn't seem possible with the current version. The most basic problem is that STP's SMT-LIB2 lexer is currently built in "never-interactive" mode, which causes it to alway

[2014-10-04 23:41] smcc opened #133 "CryptoMiniSAT2 checkElimedUnassigned assertion failure"
When experimenting with running STP in CryptoMiniSAT 2 mode, I've run into an input that causes STP to crash with an assertion failure inside CMS. Unfortunately I wasn't able to isolate the problem much better than that. ddSMT makes the input smaller but not small in an absolute sense (32k). I also wasn't able to reproduce the problem by outputing a CNF file and running that through a standalone C

[2014-10-08 10:03] #131 closed, assigned to nobody

[2014-10-15 21:50] rsas opened #134 "Support for term annotations using ":named" keyword"
I'm trying to run the following example using STP:

[code]

I get:

[code]

Is there any (planned) support for this SMTLIBv2 term annotation?

[2014-10-30 23:23] mdempsky opened #136 "stp fails Chromium checklicense"
I'm trying to use stp for testing Chromium's BPF compiler (see crrev.com/656373002), but it's triggering a bunch of errors with our open-source license checking script.  I'm trying to get details on what precisely needs to be done, but to start there are a bunch of source files that don't appear to have any copyright/licensing information in them:

./lib/Globals/Globals.cpp
./lib/Printer/BenchPrin

[2014-11-06 14:01] msoos opened #139 "Move to OpenSUSE build service"
It would allow us to create packages for more than just Ubuntu which is what we support now. See https://build.opensuse.org/

[2014-11-06 14:02] #77 closed, assigned to nobody

[2014-11-06 14:46] #104 closed, assigned to nobody

[2014-11-10 11:27] delcypher opened #140 "``stp_simple`` should be moved"
@msoos I see you've introduced the `stp_simple` binary. I like the idea but I think
- This ought to live inside its own directory inside `tools/` e.g. `tools/stp_simple`. The changed layout was designed to support multiple tools so we should take advantage of this.
- We should always build `stp_simple` so those doing development with Boost installed don't accidently break it. Although Travis will

[2014-11-10 15:25] #140 closed, assigned to msoos

[2014-11-11 12:18] msoos opened #142 "Make everything in CMakeLists.txt into instead PROJECT_... of CMAKE_.."
As per this pull request: https://github.com/stp/stp/pull/141#issuecomment-62537922 There might be other places that need fixing

[2014-11-11 14:19] #142 closed, assigned to msoos

[2014-11-11 15:07] #126 closed, assigned to nobody

[2014-11-13 23:41] #136 closed, assigned to nobody

[2014-11-16 20:28] Daeinar opened #144 "Bugs in the Python interface tests"
Hi!

Today I had some time to check the tests for the Python interface, which currently don't pass, see the commit https://github.com/stp/stp/commit/dc17c5af965b3addf9337278c9744a11b7c4c0cd by @delcypher.

It seems there are two bugs, both caused in `test_pushpop()`, see https://github.com/stp/stp/blob/master/tests/api/python/tests.py.in#L129

(1) The first bug is caused by an empty call to `s.che

[2014-11-17 06:02] Celelibi opened #145 "Find all solutions"
This is more a feature request than an issue.

cryptominisat2 and cryptominisat4 both have an option to find more than one solution. `--maxsolutions` and `--maxsol` respectively. I think it would be nice if stp had a `--max-counter-example` option too (probably in its API as well).

Although stp can export a CNF that preserve the number of solutions, finding back the values of the SMT variables fr

[2014-11-26 11:07] msoos opened #147 "Make Travis build OSX, too"
I just realized Travis can build OSX too. We should definitely do those builds too.

[2014-12-06 17:20] hellovijay opened #148 "Compilation Issue on Mac OS X"
Hi All,

I get the following compiler errors on MacOS X version 10.8.5 when I attempt compilation of the latest version of STP (version f105e71 available as a TARBALL) using gcc i686-apple-darwin11-llvm-gcc-4.2 (GCC) 4.2.1. (as a side note, STP compiles flawlessly on Ubuntu 12.04). Following is the output of the makefile:

[  2%] Built target sat
[  3%] Built target ASTKind_header
[  4%] Built tar

[2014-12-06 17:58] #148 closed, assigned to nobody

[2014-12-12 10:15] fmerz opened #150 "Use of a class inside a union in MemoryPool.h"
When trying to compile current stp trunk with visual studio 2013 I get an error C2620 [1]. Visual Studio complains that in Sat/cryptominisat2/MemoryPool/MemoryPool.h:70, there is a union (Slot_) that contains a member with a user defined constructor. The problem as I understand it, is that this union is contains a pair of a Clause and a Lit or a pointer to another Slot_. The compiler cannot know i

[2014-12-14 21:06] #150 closed, assigned to nobody

[2014-12-16 00:59] msoos opened #151 "Support (set-option :produce-models true)"
The model can of course be printed and is known by STP. It can be queried in the python interface and it can be asked to be printed on the console. For example:

[code]

for a file:

[code]

If I add the set-option in then STP complains. So, we have have a (small) deficiency with the SMT-LIBv2 parser. Let me try to add the support over the weekend.

[2014-12-26 01:31] msoos opened #153 "MacOS build issues"
https://github.com/zhaopengli reported this error:

[code]

CMake details:

[code]

[2015-01-06 22:21] rsas opened #154 "Avoid STP Error: "TransformFormula:You have input a NON-formula""
While using STP as a library, it complains about the following query produced by [Souper](https://github.com/google/souper):

[code]

It would be great to have a more graceful way to handle this situation.

[2015-01-07 00:50] zhaopengli opened #155 "Assertion encountered using STP as prover of program analysis"
Anyone could tell me what is the problem? Is it a bug of STP or something?

Thanks in advance!

Detailed output as the following:

test-sxf: /home/zpli/Workspace/stp-master/lib/Sat/minisat/core_prop/../core_prop/../core/../mtl/Alloc.h:68: const T* Minisat::RegionAllocator<T>::lea(Minisat::RegionAllocator<T>::Ref) const [with T = unsigned int; Minisat::RegionAllocator<T>::Ref = unsigned int]: Asser

[2015-01-07 00:51] zhaopengli commented on #155
Sorry to tell that I have run 'ulimit -s unlimited'!

[2015-01-07 06:36] rsas commented on #154
The condition of the ``ITE`` instruction has a wrong sort that has to be checked when using STP as a library. The SMTLIBv2 printer converts the non-matching sort to ``BOOL`` using ``(bvugt (select  a0 (_ bv0 32) ) (_ bv0 1) )``. Sorry for the noise.

[2015-01-07 06:36] #154 closed

[2015-01-14 17:14] rsas commented on #151
Any updates on the model retrieval support? We'll be heavily using models in our current program synthesis efforts, an alternative to z3 would be great.

[2015-01-14 19:38] delcypher commented on #151
@rsas I'm afraid I don't have the time or expertise to work on this but out of curiosity are you using ``(get-value)`` or ``(get-model)`` if you have lots of variables ``(get-model)`` might be faster if you need the values of all variables.

[2015-01-14 19:40] rsas commented on #151
Thanks for the info. We are using ``(get-value)`` as printed by KLEE's ``ExprSMTLIBPrinter``.

[2015-01-15 12:28] msoos commented on #155
Seem like a bug, yes. Can you please send me the input so I can re-produce?

[2015-01-28 16:23] rsas commented on #151
@msoos @delcypher: could you please give me some pointers to the code to look at for this feature? We are finally able to synthesize programs in Souper and running it with a different solver than z3 would be great.

[2015-01-28 16:37] delcypher commented on #151
@rsas That's great news about souper. I really don't have expertise here as I joined the STP project to fix the build system and testing. I don't really know how much of the internals of the code work but I can think of two possible starting points

- see how the ``--print-counterex`` flag is implemented.
- See how the following functions in [include/stp/c_interface.h] (https://github.com/stp/stp/

[2015-01-28 19:20] bytbox opened #156 "Cmake error (archlinux 64-bit)"
I cannot escape this cmake error:

    -- The C compiler identification is GNU 4.9.2
    -- The CXX compiler identification is GNU 4.9.2
    -- Check for working C compiler: /usr/bin/cc
    -- Check for working C compiler: /usr/bin/cc -- works
    -- Detecting C compiler ABI info
    -- Detecting C compiler ABI info - done
    -- Detecting C compile features
    -- Detecting C compile features - d

[2015-01-28 19:38] delcypher commented on #156
Hi @bytbox . Thanks reporting. I'm also on Arch and I can reproduce this. Something must of changed between cmake 3.1.0 and cmake 3.0 because the last time I built STP was when I was using cmake 3.0 and I didn't have any problems.

To work around this please add this line to the bottom of ``lib/CMakeLists.txt``

[code]

this fixes the configure but something still seems to be broken because now li

[2015-02-03 06:11] erakadjiev commented on #151
Hello,

Any news about this feature? I also rely on the `(get-value)` command and am interested if there are plans to implement the support in STP soon?
Fortunately, it's not critical for me, because currently I'm using @delcypher 's very useful stpwrap2. However, having this in STP would be cleaner.
Thank you!

[2015-02-03 23:36] rsas opened #157 "Counterexample printing takes significant amount of time"
I have the following SMTLIBv2 query:

http://www.cs.utah.edu/~rsas/stp-query.smt2

Running STP w and w/o counterexample shows significant time difference:

[code]

Any ideas where this difference is coming from?

[2015-02-03 23:47] rsas commented on #157
z3 is slower in solving, but faster in printing. Taking

http://www.cs.utah.edu/~rsas/z3-query.smt2

that adds the ``(set-option :produce-models true)`` and a number of ``((get-value ...))`` results in

[code]

[2015-02-12 05:24] srijanshetty opened #158 "Does the solver have a feature to extract an UNSAT Core?"

[2015-02-12 10:04] delcypher commented on #158
AFAIK it does not.

[2015-02-12 12:35] msoos commented on #158
Actually, CryptoMiniSat4 solver can give you a DRAT trace. From there, you can create an UNSAT core (see http://www.cs.utexas.edu/~marijn/drat-trim/ ). However, it will be an UNSAT core relative to the SAT solver variables, not the SMT variables. There is a mapping somewhere that you can extract (please look a the options and the code) of SAT <-> SMT variables. It won't be easy, though, so buyer b

[2015-02-16 15:02] msoos commented on #158
Closing issue since issue owner does not reply.

[2015-02-16 15:02] #158 closed

[2015-02-16 15:15] srijanshetty commented on #158
@msoos : Thanks for the pormpt reply and my apologies for being unable to reply sooner. I had to consult with my advisor before I could give a definitive reply. Considering the tight schedule we are in, my advisor thinks that it wouldn't be prudent to undertake the task of implementing an UNSAT core :frowning: . We'll have to think of some way to circumvent this problem though. I'll ping you if I

[2015-02-16 15:17] msoos commented on #158
Who is your supervisor? What is your project about? What do you plan to implement into STP? In case you do want to implement something for/into STP, please consider making it such that it can be added to STP without much further work. There is a lot of work already inside that's free, it'd be nice if you contributed.

[2015-02-16 16:01] srijanshetty commented on #158
@msoos : The UNSAT core feature is for my undergraduate project and my Professor (the supervisor) thinks that we'll be awfully pressed for time. I'll make sure that any progress I make will make it back into STP.

[2015-02-16 16:27] msoos commented on #158
Oh, OK, if undergrad project, than there won't be enough time. UNSAT core would probably take a long while. Good luck with your work and looking forward to the pull request to STP,

Mate

[2015-02-16 16:30] msoos commented on #157
Hmmm...the question is, whether it's a static or dynamic difference. With a larger problem, we might have  the same X seconds overhead but not more (=static) or the counterexample printing might take forever (=dynamic difference). It would be good to know. In the first case, we need to get rid of some heavy initialization, in the latter, we need to improve the algorithms. Quite an important differ

[2015-02-16 23:42] msoos commented on #144
OK fixed in commit 987da829532fb68001c83d0ea5b8a9fb10c9e06e. It was really simple actually. We needed to push() before solving and then pop(), otherwise the current state would get mixed up with the assumed setting. For example, for the current check we wanted to assume a==b. The next time, we wanted to assume a>b. But of course a==b should not have remained in the state. However, it did. To get r

[2015-02-16 23:42] #144 closed

[2015-02-16 23:43] msoos commented on #144
Thanks @Daeinar  for the report! Was loooong time coming, but we made it :) Thanks again!

[2015-02-16 23:44] msoos commented on #147
Let's scratch this. Won't happen and better concentrate on things that will.

[2015-02-16 23:44] #147 closed

[2015-02-16 23:44] #153 closed

[2015-02-17 00:47] delcypher commented on #156
@bytbox I just started looking at this again. The issue seems to have gone away with ``cmake 3.1.3-1`` in Arch. Can you confirm?

If so I'll close this issue.

[2015-02-17 00:56] #120 closed

[2015-02-17 00:56] msoos commented on #120
I am not 100% sure it's the best/right fix, but it seems to make sense and it works. Fingers crossed.

[2015-02-17 00:57] msoos commented on #86
Isn't this essentially unfixable thanks to a badly designed C interface?

[2015-02-17 01:07] delcypher commented on #86
@msoos It might hackable if the existing C API tests were changed to clean up everything. Not sure it's worth it though because

* Most of the C API tests aren't very good. I just took old code but didn't add many assertions
* The C API isn't very good. See #90

[2015-02-17 01:09] msoos commented on #86
Yep. Let's close this. I want to keep the issue tracker more to the point, instead of having stale wishlist. Instead, let's try to make sure the new C api tests we add have the asserts inside.

[2015-02-17 01:09] #86 closed

[2015-02-17 01:15] msoos commented on #83
I'd rather do the tests from python, actually. Much easier. Of course re-writing in python them doesn't make that much sense but we can add new ones to the python one instead, with asserts that can be trivially added. The C interface tests can test for assert fail/segfault instead. That's what they did test before, I think. What do you think?

[2015-02-17 01:49] bytbox commented on #156
Looks fixed, excellent! Sadly, I can't figure out which cmake bug on mantisbt (or which commit) is relevant. Ah well.

[2015-02-17 06:32] rsas commented on #157
Thanks @msoos for the comment, I'll experiment with larger problems and get back to you.

[2015-02-17 08:53] Daeinar commented on #144
@msoos: Thanks for fixing this and explaining how you solved it, makes sense. :)

[2015-02-17 11:11] delcypher commented on #156
@bytbox Thanks for confirming.

[2015-02-17 11:11] #156 closed

[2015-02-17 11:19] delcypher commented on #83
Although it's much easier to have our tests at the python level we should definitely have tests at the C API level because it will be the foundation of the current python bindings and any bindings we have in the future.

Ideally we'd have tests for the C API and the python bindings. We're also missing something quite critical which are unit tests for internal components of STP (e.g. #128).

Right

[2015-02-17 11:22] msoos commented on #83
Sounds good. I think the C++ API should also be cleaned up. Maybe we can start there first and then make the C use the new C++ one. Then we fix the python :)

[2015-02-17 11:28] delcypher opened #159 "Make libabc and libconstbv external dependencies"
Embedding other libraries inside ``libstp`` is gross and we shouldn't be doing it. We should make these external dependencies and try (if possible) to follow upstream. This supersedes #95.

[2015-02-17 11:28] msoos commented on #62
Let's remove the SVN&sourceforge entirely. The large benchmarks we should forget about. They are probably not good tests, and the SMT benchmarks used for the competition are always downloadable from starexec. @hellovijay can you please delete the sourceforge repo and redirect people to the github repo?

As for the other stuff (overflow, underflow, no full SMT2 support) they are individual issues n

[2015-02-17 11:28] delcypher commented on #124
#159 is a newer issue I've created for the clean up of external libraries.

[2015-02-17 11:28] #124 closed

[2015-02-17 11:28] delcypher commented on #95
#159 supersedes this so closing.

[2015-02-17 11:28] #95 closed

[2015-02-17 11:45] delcypher commented on #83
Hmm at a glance I think the C++ API builds on top of the STP internals just like the C API so they are currently independent. With the refactoring I did it should actually be possible now to use the C++ API outside STP (before it was impossible due to the relative includes) although I have not tested this. This means there are no users of the C++ API (other than STP's ``smt``, ``smt2`` and ``cvc``

[2015-02-17 11:52] msoos commented on #83
Actually, I didn't know this, so let's just fix the C API instead then. I like concentrating efforts rather than having too many issues and making little progress on each.

I _really_ don't understand the BEEV. If you think we an rename it (since everybody is using the C interface and apparently the C++ interface is separate), then please-please rename it. I would much rather have it STP.

[2015-02-17 15:02] msoos commented on #159
I suggest not touching the constbv. I had a look at the original author's site, here:

http://guest.engelschall.com/~sb/download/

First of all, the newest code up is from Sept 2013. That is already a lot newer than what we have, however, I don't think it's really maintained that much. Also, this newer version has some fixes that would mean grepping and changing code in STP. Further, there is actu

[2015-02-17 15:20] msoos commented on #159
Sorry, "has some some fixes" -> "has some some changes"

[2015-02-17 16:23] delcypher commented on #83
Renamed ``BEEV`` to ``stp`` in pull request #160

[2015-02-17 16:30] delcypher commented on #159
ConstBV may need to be replace one day due to it being under the LGPL but for now I guess we should leave it for now. Those macros are gross. Someone really doesn't like C's bitwise operator syntax...

[2015-02-17 22:00] msoos commented on #155
No input was provided by the original reporter. I need to close as I cannot debug this way. If you have the original input file, please attach it here and I'll re-open. Thanks!

[2015-02-17 22:00] #155 closed

[2015-02-17 22:13] #47 closed

[2015-02-17 22:14] msoos commented on #45
We now have a python binding. The C interface is broken and we are about to fix it by creating a new API. So, this can be closed, yay!

[2015-02-17 22:14] #45 closed

[2015-02-17 22:17] msoos commented on #37
Since I haven't made progress here, I think I need to close this. We have been adding tests through the interfaces, e.g.the python interface has been used to find and fix bugs. I will sometimes do fuzzing runs, but I didn't get to this level of automation and I fear I won't have the time to do it. I will run them sometimes, though.

[2015-02-17 22:17] #37 closed

[2015-02-17 22:19] msoos commented on #2
I cannot make CMS2 a submodule: It's a different version that's here and it's tuned for STP. If I make it a submodule, I would have to get back to this really old piece of code.

On the other hand, CMS4 is faster (we got 2nd place at the competition), and its integration is clean.

I suggest we keep the status quo, and instead try to nudge people to use CMS4 which is actively developed and works w

[2015-02-17 22:19] #2 closed

[2015-02-17 22:20] msoos commented on #14
I don't have the time. I am using smtfuzz by Armin Biere, and it's working well. I'll keep to that.

[2015-02-17 22:20] #14 closed

[2015-02-17 22:22] msoos commented on #17
We currently have the fully working "SANITIZE" option in cmake. I think that will do the job. The work by @arsenm is great, but it wasn't integrated in the end, and the SANITIZE option works. I suggest we close this unless @arsenm is happy to integrate that work into STP.

[2015-02-17 22:22] #17 closed

[2015-02-17 22:26] msoos commented on #42
@xiw Actually, as far as I understand the way things are done inside STP, even with insider hacking we couldn't detect multiplication overflow easier than it is done externally. As for addition overflow/underflow, you can check for c = a + b, where a and b are positive integers (and addition is unsigned and c is unsigned int), that c > a and c > b. That is a cheap check and I can't see it done bet

[2015-02-17 22:26] #42 closed

[2015-02-17 22:42] msoos commented on #43
OK, uploaded a new one. Automating this would be difficult and painful, so I'll do this from time to time. I don't see the reason to have an open issue for it. I'll open issues for problems that are found.

[2015-02-17 22:42] #43 closed

[2015-02-17 22:45] msoos commented on #4
We have been discussing with @delcypher over this. The LGPL is kind of bad, especially since STP is advertised as MIT licensed. That library is pretty awful, but I don't feel like re-writing it. We'll keep this in mind, but for the moment, there seems to be no one with time and energy to do this, so it's a bit stale. Let me close this. If anyone feels like they have the time&energy to move forward

[2015-02-17 22:46] msoos commented on #13
There are more options that could be exposed. As I am trying to understand STP, I will expose them as much as I can.

[2015-02-17 22:46] #13 closed

[2015-02-17 22:48] msoos commented on #82
I cleaned them up, they should be added to the test suite. @delcypher  can you do that please? I couldn't quite handle the 'lit' system, again. Sorry.

[2015-02-17 22:52] msoos commented on #85
* The "userguided-absrefine.cpp" is deprecated, the code in STP is disabled, I suggest we remove this file and all the disabled code from STP. Most probably stale and not working. Would you agree with this?

* cvc-to-c wow, this is cool! It can convert CVC to C. Also, probably SMT to C too. Pretty useful, I think. I'll take a look.

* biosat-rna.cpp This is research stuff as far as I could tell. N

[2015-02-17 22:56] rsas opened #161 "Counterexamples for BitVecs of size 1 are not printed"
[code]

Is there a reason why cex for `compin_1_1` and `compin_2_1` are not printed?

[2015-02-18 03:36] rsas commented on #161
I see that they are not used in the query, but it would be great to have output for all free variables.

[2015-02-18 12:14] msoos commented on #151
We have been working quite a lot in the past days. This is up next. By the way, the python binding is super-useful, have you tried it yet? It works flawlessly now.

[2015-02-18 16:17] rsas commented on #151
That's great news. I haven't tried the python binding yet, but I will certainly give it a try!

[2015-02-18 16:17] delcypher commented on #82
@msoos I started looking at but I'm having a weird issue with one of the tests. Could you try reproducing it?

1. Rename ``tests/query-files/crypto-tests/rsa_1024_bit_prime_1s_only.stp.cvc.fixme`` to ``tests/query-files/crypto-tests/rsa_1024_bit_prime_1s_only.stp.cvc``

2. Go into the ``tests/query-files/crypto-tests``. Run

[code]

After roughly 13 seconds I get answer like

[code]

3. Now run li

[2015-02-18 16:31] delcypher commented on #161
@rsas I'm not very familiar with this but I don't think printing the value of all variables is required. In SMTLIB-v2 if you ask ``(get-model)`` you are not guaranteed (AFAIK) to have the model use all the variables you declared. I came across this issue when I wrote my hacky [stpwrap2](https://github.com/delcypher/stpwrap2) program and my solution here was to set a bitvector variable that was not

[2015-02-18 16:36] rsas commented on #161
Thanks @delcypher, your argumentation makes sense.

[2015-02-19 02:33] erakadjiev commented on #151
Thank you, Mate! Looking forward to it!
I haven't used the Python binding yet, either.

[2015-02-19 23:38] rsas commented on #157
I gave it a try on several bigger problems and the results are confusing.

[code]

Apparently, there is no problem. Unfortunately, I lost the initial query file to see what's going on there...

[2015-02-22 23:59] smcc opened #162 "CheckEvenEqn assertion failure triggered via library interface"
I've found an interesting assertion failure which is caused by a query expressed with the library interface, though not triggered by the analogous inputs my tool can produce using other interfaces. I was able to extract a test case using the fprintf+perl script I'd mentioned in another report:

https://github.com/bitblaze-fuzzball/stp/compare/bitblaze-fuzzball:master...c_interface-trace

Along wit

[2015-02-23 00:20] msoos commented on #162
We are stuck here:
[code]

And as you note, that's 2 constants in a row. I'm wondering if that was supposed to have been eliminated by systems that collapse constants before this function is called. There are extensive systems that detect and deal with constants. I'm looking into this.

[2015-02-23 00:40] #162 closed

[2015-02-23 00:43] msoos commented on #162
I solved it the simple way. If I see 2 or more constants, I simply exit with "unknown" leaving the system as it is. I believe this is a working solution.

As for it being the best solution or not is a different question. I think we could check the evenness of all the constants and if all of them are even then of course their sum will also be even. I think that would work. This code is super-specia

[2015-02-23 15:50] delcypher commented on #159
@msoos I see you've been chatting to the author of ``libabc``. Thanks for looking into this. Seeing as the contents of the repo are always considered stable this is going to make things a little tricky for us.

I see several approaches we could take here.

## Maintain a git mirror of the [libabc](https://bitbucket.org/alanmi/abc) repo and use a git submodule

Unfortunately mercurial is used by the

[2015-02-23 15:52] msoos commented on #159
Let's try version B. I'm going to try building & integrating and see where we get :) I'll get back to you in the coming days.

[2015-02-23 15:53] msoos commented on #159
Oh, and thanks for your opinion, I'm glad I don't have to try to make the choice by myself :)

[2015-02-23 16:05] delcypher commented on #159
@msoos No problem.

I've created a [temporary fork of libabc on github](https://github.com/stp/abc) here. I can keep rebasing it on to upstream until we have the necessary changes to send upstream.

[2015-02-23 23:11] msoos commented on #157
:S That's shame. If you ever find it, please re-open. I lost my copy, too (I used your link to download in the old days, I think) :S Next time, if you could upload it to github gist: https://gist.github.com/ that'd be awesome.

Cheers and thanks again for looking into the problem,

Mate

PS: the file must have been interesting, I think it hit on a nerve where the counter-example generation degrade

[2015-02-23 23:11] #157 closed

[2015-02-23 23:26] rsas commented on #157
Thanks @msoos. I think I'll be able to find it again. Stay tuned.

[2015-02-23 23:41] msoos commented on #159
Thanks! I added a couple of issues there. I'd be interested in your opinion :)

[2015-02-23 23:45] msoos commented on #117
OK, I now understand the code better and I can check that this is indeed a bugfix and @jamesjer is right. There is still no testcase, but I'm absolutely certain this was a bug in fact.

Thanks for everyone's input and patience. It took a while. I would hope to have a testcase, but this is hard to hit... maybe one day we can build a better fuzzer/tester system.

[2015-02-23 23:45] #117 closed

[2015-02-23 23:48] msoos commented on #121
Actually, the compiler can cause code to be emitted that crash the system in case of missing return statement (undefined behaviour). I still don't know what to do with this, but I think we should try to return "sane-looking" stuff. The client can then decide what to do since it's their responsibility to handle the error best. Our responsibility is not to crash the app that called us. Obviously the

[2015-02-23 23:54] msoos commented on #82
Actually, I think it was the interactive nature of STP that got messed up there, i.e. it was not running. I can run the system in both ways and it works well. Can you check that STP is indeed taking CPU in the latter case? Maybe we need to fix something about the command line parsing there. Maybe you have a "space" in the `ṗwd`?

[2015-03-02 00:43] msoos commented on #79
I have deleted a bunch of them. There is a much more comprehensive, more interesting set of tests in starexec, where you can download all the problems used for the competition. That's how I develop my SAT solver, too. I take the examples from previous competitions to test the speed against. These are not really 'tests' for bugs. For speed tests, we should be using updated tests from the past compe

[2015-03-02 00:52] msoos commented on #151
Well, I didn't get here, again. I'm not the master of flex. I'm just slowly trying to make myself familiar with the codebase, cleaning up while I go along. It'll take time, but I'm getting there. Just take a look at my commits the past few weeks.

[2015-03-02 00:55] msoos commented on #62
I'll close this one and create an issue with:

* Sourceforge must be marked as stale
* http://people.csail.mit.edu/vganesh/STP_files/stp.html must be removed

That's what we agreed on with Vijay. In the meanwhile, I have significantly cleaned up the STP google sites page (https://sites.google.com/site/stpfastprover/)

[2015-03-02 00:55] #62 closed

[2015-03-02 00:56] msoos opened #163 "http://people.csail.mit.edu/vganesh/STP_files/stp.html must be redirected"
Dear Vijay,

Please redirect the above site to https://sites.google.com/site/stpfastprover/ Thanks!

[2015-03-02 00:57] msoos opened #164 "Sourceforge STP project must be marked as stale"
Dear VIjay,

Please mark the STP project on Sourceforge as stale and old, redirecting users to GitHub. Thanks!

Mate

[2015-03-02 01:02] #1 closed

[2015-03-02 01:04] msoos commented on #18
This has been fixed in the code, thanks for finding this one!

[2015-03-02 01:04] #18 closed

[2015-03-02 11:08] msoos commented on #85
OK, biosat and userguided has been dealt with. cvc-to-c is the only thing left. It's interesting, but I think writing a python parser is probably better and easier. I'll think about it.

[2015-03-02 15:41] hellovijay commented on #163
Hi Mate,

I am working on this.

-Vijay.

On 3/1/15, Mate Soos <notifications@github.com> wrote:

--
Cheers,
Vijay Ganesh
http://ece.uwaterloo.ca/~vganesh

[2015-03-02 15:48] msoos commented on #163
Best would be to use this inside the <head>:
[code]

but if you cannot edit the <head>, you can use the javascript version (needs no access to the <head>, you can put it inside the <body>:

[code]

It's best not to use both.

Thanks again in advance!

[2015-03-02 16:29] delcypher commented on #62
@msoos Thanks for doing this!

[2015-03-02 16:30] rsas commented on #151
@msoos thanks for your effort! Don't worry, for now I have a simple wrapper inspired by @delcypher that I use to retrieve the model values. It works fine for me.

[2015-03-03 01:07] msoos commented on #129
Been working on some of this. I'll push my commits once I'm confident they make sense. The tools here are actually pretty useful and readable. I'm trying to make them compile, etc.

[2015-03-03 17:05] msoos commented on #163
Thanks!

[2015-03-03 17:05] #163 closed

[2015-03-03 23:56] delcypher commented on #164
This looks like it's done.

[2015-03-03 23:56] #164 closed

[2015-03-04 12:24] msoos commented on #164
Great! Thank you everyone. We are making progress on this (not so fun but important) side of things :)

[2015-03-05 23:56] msoos commented on #129
I made all of them compile and work. I'm closing this now, though it would be fun to use them, actually :)

[2015-03-06 11:32] delcypher commented on #129
@msoos These tools are ``tools`` and not part of the library so they should be moved to the ``tool/`` directory at some point.

[2015-03-06 11:33] msoos commented on #129
Indeed. I was about to ask you if I should do that :)

[2015-03-06 12:45] msoos commented on #129
OK, done. There is still the 'measure' tool to check out.

[2015-03-16 13:10] vinayts opened #165 "Latest STP code ( as of March 16th 2015) does not build successfully."
cmake works fine, but the build of the code fails with the following errors :

[root@vinayts-lab-lnx build]# make
[  1%] Built target ASTKind_header
[  1%] Building CXX object lib/ToSat/CMakeFiles/tosat.dir/BitBlaster.cpp.o
/usr/local/src/stp-master/lib/Sat/minisat/core/SolverTypes.h:130: error: ISO C++ forbids zero-size array ‘data’
/usr/local/src/stp-master/include/stp/STPManager/STPManager.h:30

[2015-03-16 13:12] delcypher commented on #165
What compiler are you using?

[2015-03-16 13:42] msoos commented on #165
[code]

Sounds like `-Werror` to me, but it's true that zero-sized array is not allowed, so it could be some very strict compiler. It's used in MiniSat and I don't want to touch it. We could replace the whole MiniSat with the upstream, though. That would make things a lot easier. The new MiniSat compiles much better on different architectures and looks a lot cleaner.

[2015-03-16 17:43] aruneshpa opened #166 "stp-master build not going through because of syntax errors"
I pulled the source code from the STP repository. While building it, cmake is passing through but the actual build (make) errors out giving some syntax errors. Following is the configuration of my machine-
Linux arunepan-lnx 2.6.18-371.11.1.el5 #1 SMP Mon Jun 30 04:51:39 EDT 2014 x86_64 x86_64 x86_64 GNU/Linux
gcc version 4.1.2

[2015-03-16 17:45] delcypher commented on #166
You need to give more details than this. At a quick glance though your compiler is **far too old**. GCC 4.1.2 was released in 2007!

[2015-03-16 17:48] aruneshpa commented on #166
Following is the log -

[arunepan@bgl-ads-780 build]$ make
Scanning dependencies of target constantbv
[  1%] Building CXX object lib/extlib-constbv/CMakeFiles/constantbv.dir/constantbv.cpp.o
[  1%] Built target constantbv
Scanning dependencies of target ASTKind_header
[  2%] Generating ASTKind.cpp, ../../include/stp/AST/ASTKind.h
[  2%] Built target ASTKind_header
Scanning dependencies of target a

[2015-03-16 17:49] msoos commented on #166
Too old compiler. Please update to a newer distribution with a newer compiler. If it still fails to build, please create a new issue.

[2015-03-16 17:49] #166 closed

[2015-03-16 17:50] msoos commented on #165
Same as previous issue with different user not being able to build due to very old compiler (gcc released in 2007). Closing because there is no way around this, user needs a newer compiler. @vinayts please use a newer distribution and try compiling again. If you have an issue compiling with a newer distribution, please create a new issue. Thanks!

[2015-03-16 17:50] #165 closed

[2015-03-17 05:55] vinayts commented on #165
Thanks for your response. Will try with a newer version of the compiler and
report back if I face further issues.

Vinay
On Mar 16, 2015 11:20 PM, "Mate Soos" <notifications@github.com> wrote:

[2015-03-17 09:27] aruneshpa commented on #166
Thank you dan for the suggestion. I just have a small doubt. I have many
versions of gcc installed on my machine. Is there any way to tell the STP's
cmake specifically which version of gcc to use. I do not want to update the
default compiler of my system as it has a lot of dependencies.

Thank you,
Arunesh

On Mon, Mar 16, 2015 at 11:19 PM, Mate Soos <notifications@github.com>
wrote:

--
Thnaks,
A

[2015-03-17 09:42] delcypher commented on #166
When building set the ``CXX`` and ``CC`` environment variables to the paths to the compilers which you wish to use.

e.g.

[code]

[2015-03-17 09:44] delcypher commented on #166
@aruneshpa Oh just another note make sure you delete the contents of the build directory first before running the above ``cmake`` command because when cmake runs it only checks the compiler once. If you run ``cmake`` in an existing build directory it won't try to re-detect the compiler.

[2015-03-17 10:45] aruneshpa commented on #166
Thank you Dan for helping me out. I was able to build it successfully. Will
trouble you again if I get stuck.
Thanks,
Arunesh

On Tue, Mar 17, 2015 at 3:14 PM, Dan Liew <notifications@github.com> wrote:

--
Thnaks,
Arunesh

[2015-03-20 14:25] aruneshpa commented on #166
I am getting this error when I trying to build the example/simple directory
Output of camke is---
CC=/router/bin/gcc.c4.7.0-p1 CXX=/router/bin/g++.c4.7.0-p1 cmake ../
-- The C compiler identification is GNU 4.7.0
-- The CXX compiler identification is GNU 4.7.0
-- Check for working C compiler: /router/bin/gcc.c4.7.0-p1
-- Check for working C compiler: /router/bin/gcc.c4.7.0-p1 -- works
-- Detecting

[2015-03-20 14:53] msoos commented on #166
You must open a new issue. This is an issue that has been closed an resolved. Please create a new issue. This issue is closed and what you wrote above is not relevant to this issue. That is a new issue.

[2015-03-21 17:21] aruneshpa opened #167 "Error Building STP Example"
I built the STP source. The build went through. Then I tried to build the examples/simple directory. I followed the instructions and created a bin directory. There I ran cmake which passed. But when I am building it using "make" it is giving me some error with GLIBCXX.
Output of cmake -
CC=/router/bin/gcc.c4.7.0-p1 CXX=/router/bin/g++.c4.7.0-p1 cmake ../
-- The C compiler identification is GNU 4.7

[2015-03-21 17:30] delcypher commented on #167
It is likely that you've mixed up the compiler used to build STP and the the compiler you're using to build the example leading to linking errors with ``libstdc++``. Either that or you compiler isn't correctly configured. This isn't something I can debug for you.

An alternative you could try is to link the example against the static ``libstp.a`` library instead. The example has an option you can

[2015-03-21 17:59] aruneshpa commented on #167
Thanks @delcypher
Using this flag I was successful to build the example. But again when I am trying to run it , it gives me this error-
[root@vinayts-lab-lnx bin]# ./stp-example
./stp-example: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.10' not found (required by ./stp-example)
./stp-example: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.14' not found (required by ./stp-example)
./stp-exampl

[2015-03-22 10:15] delcypher commented on #167
Okay I think I know what's wrong. Your compiler ``/router/bin/g++.c4.7.0-p1`` is using a different ``libstdc++`` to the one available at `` /usr/lib64/libstdc++.so.6``. You will probably find that if you try to build **any C++ application using your compiler** that it won't run because the dynamic loader will try to load a different version of ``libstdc++`` to one being used by your compiler.

You

[2015-03-22 10:15] #167 closed

[2015-03-22 13:06] msoos commented on #167
Dear @aruneshpa,

@delcypher  is very right. Given how badly your system is broken you may want to start over -- installing a new distribution. We simply **CANNOT** help you, you need to first help yourself by using a non-broken system. Later, any specifically STP-related problems we'll be able to help you with.

Cheers,

Mate

[2015-03-27 02:32] Geof23 opened #168 "missing add_dependencies in cmake"
Hi STP -- I ran into a little problem with a concurrent build.

I recommend this patch:
***
diff -urN stp/lib/Sat/cryptominisat2/CMakeLists.txt stp_patch/lib/Sat/cryptominisat2/CMakeLists.txt
--- stp/lib/Sat/cryptominisat2/CMakeLists.txt	2015-03-26 20:15:37.523595767 -0600
+++ stp_patch/lib/Sat/cryptominisat2/CMakeLists.txt	2015-03-26 20:17:46.987599082 -0600
@@ -21,3 +21,5 @@
     XorSubsumer.cpp

[2015-04-01 09:07] cbe90 opened #169 "errors while building stp"
An error occurs while trying to build stp:

[ 66%] Built target stpmgr
[ 66%] Built target stpglobals
[ 66%] Built target abstractionrefinement
[ 66%] Built target AST
[ 66%] Built target simplifier
[ 66%] Built target printer
[ 66%] Built target parser_headersmt
[ 66%] Built target parser_headercvc
[ 66%] Built target parser_headersmt2
[ 66%] Built target parser
[ 66%] Built target cinterface
[ 6

[2015-04-01 12:38] msoos commented on #169
Please uninstall CryptoMiniSat4 for the moment. After uninstalling, please re-configure and re-build. There is some turmoil in there. I'll fix it up in the coming weeks. Sorry for the inconvenience!

[2015-04-01 12:43] msoos commented on #168
Thanks :) Cheers!

[2015-04-01 12:43] #168 closed

[2015-04-06 00:25] dr1861 opened #170 "mtl/IntType.h missing"
I cloned a copy of the stp.git repository today, and followed the instructions in INSTALL quickstart to try to build stp. When I run make, I get a nerror saying that mtl/IntType.h  no such file. This of course stops the make process completely.

[2015-04-06 12:40] delcypher commented on #170
@dr1861 The INSTALL file was out of date. I've tried to fix this. Basically you need ``minisat`` installed. The configure process shouldn't of completed unless you have an existing install of minisat somewhere.

[2015-04-06 13:02] delcypher commented on #170
@dr1861 I'm going to close this issue. If you still have problems after installing ``minisat`` then please re-open the issue.

[2015-04-06 13:02] #170 closed

[2015-04-08 06:59] dr1861 opened #171 "error when compiling stp from git repository"
I cloned a copy of stp this evening, and after running cmake, I tried to compile the project using:

$ make

I am getting the following error:
/usr/include/minisat/utils/Options.h:285:29: error: unable to find string literal operator â€˜operator"" PRIi64â€™

I am working on debian 7.8 32-bit and have installed minisat and minisat2 from the package repository.
Is there a fix for this problem?

[2015-04-08 07:20] delcypher commented on #171
You need to be a bit more descriptive than that

* what compiler are you using?
* Compilation of what part of STP causes the error.
* What is the full error message. You've truncated it.

Did Minisat actually compile for you? I took a look at the the line mentioned in the error you gave and if STP can't use the header properly I would of thought you would have problems building minisat from source

[2015-04-08 07:23] delcypher commented on #171
Actually looks like @msoos found some issues
https://github.com/niklasso/minisat/pull/24

@msoos Is this related?

[2015-04-08 07:59] msoos commented on #171
Hey,

From phone, sorry. Yes, very related. Newer compiler would help. Also, you
can fix it by uninstalling MiniSat and installing the version from
stp/MiniSat. It has the fix you need. Ultimately we will need to compile
MiniSat.c without the stdc++11 flag. Will fix soon! (Dan, can you try
fixing it?)

Actually looks like @msoos <https://github.com/msoos> found some issues
niklasso/minisat#24 <htt

[2015-04-13 11:19] cbe90 commented on #169
Thanks, now the installation works. So, using stp with cryptominisat is not possible for the moment, right?

[2015-04-13 16:46] joxeankoret opened #172 "Cannot build STP from Git in Ubuntu 14.04 x86_64"
Hi,

I'm trying to compile STP from Git but I'm encountering some errors (using gcc-4.5 to gcc-4.8, it doesn't matter which compiler I use):

[code]

Am I doing something wrong?

[2015-04-13 20:50] msoos commented on #172
OK, I can reproduce it, it's from MiniSat that's installed by the package manager. Let me try to deal with this :)

[2015-04-13 22:20] msoos commented on #172
Hey, can you please check if this fix indeed solves the issue for you? I'm closing temporarily because I could reproduce the issue but with the fix it seems fine. Please get back to me so I know :)

Thanks for the bugreport, it really helped!

Cheers,

Mate

[2015-04-13 22:20] #172 closed

[2015-04-13 22:30] msoos commented on #169
Actually, if you install cryptominisat from the GIT it should work out-of-the-box. Also, cryptominisat2 comes included. However, CMS4 is much better. The GIT for it is here: https://github.com/msoos/cryptominisat As long as github says "build passing" for both STP and CMS4, you can build the two together :)

I hope the above helped :)

Mate

[2015-04-13 22:30] #169 closed

[2015-04-13 22:46] #171 closed

[2015-04-13 22:48] msoos commented on #171
Dear @dr1861 ,

Please see if this fixes the problem. I believe it should, but it'd be really good to confirm. Thank you very much for this bug report, it helped me think a bit more about the bug and hopefully fix it in a less intrusive way.

Thanks again,

Mate

[2015-04-14 07:38] joxeankoret commented on #172
It seems to be working now, thanks!

[2015-04-14 14:23] jirislaby commented on #139
FWIW

https://build.opensuse.org/project/monitor/home:jirislaby:statica

[2015-04-14 15:47] dr1861 commented on #171
Mate,
I pulled a fresh copy fo stp from the git repository this morning and
it built on my debian 7.8 system no problems.
Thanks so much for the fix.

Sincerely,
Donald

On 4/13/15, Mate Soos <notifications@github.com> wrote:

[2015-04-14 22:13] msoos commented on #172
Thanks for getting back to me and good luck using the system! If you encounter any issue, or have a suggestion, please open an issue! Cheers!

[2015-04-14 22:13] msoos commented on #171
Thanks for getting back to me and good luck using the system! If you encounter any issue, or have a suggestion, please open an issue! Cheers!

[2015-04-14 22:19] msoos commented on #139
Wow Wow Wow! Great job, I'm thoroughly impressed! Looks like you can do magic here! I'm terrible at packaging, maybe these packages could become official if you don't mind? I'll dig a bit deeper, but if you could explain me a bit, it'd help too :)

By the way, I heard that the opensuse build system can even build ubuntu packages. Is that still the case?

[2015-04-15 18:03] wujingyue opened #174 "minor issue on the home page"
![screenshot from 2015-04-15 11 01 59](https://cloud.githubusercontent.com/assets/2772612/7165843/f9d2a3da-e35e-11e4-83c3-2a1ce25a8601.png)

Missing a newline before "git clone".

[2015-04-15 21:14] msoos commented on #174
Nice one! Thanks, fixed!

Mate

[2015-04-15 21:14] #174 closed

[2015-04-16 09:55] jirislaby commented on #139
Feel free to make them public :). What exactly you would want to help with? It's simply a rpm .spec file describind the build, your sources, and that's it ;). And maybe few patches.

Yes, one can build for ubuntu, fedora, RHEL, SLES, arch, centos, debian and more. The only downside is that I do not know how to write ".spec files" for .deb.

[2015-04-22 13:10] delcypher opened #177 "Proper SONAME and SOVERSION on shared library"
Our shared library has no proper versioning. We should fix this in preparation for the release

[2015-04-22 13:12] delcypher opened #178 "Support SMT-LIBv2.5 ``(reset)`` keyword"
This would be useful for KLEE and other users and hopefully would be simple enough to implement.

[2015-04-22 13:18] delcypher opened #179 "Export STP version in CMake file for clients"
Clients who import our targets via CMake might want to know STP's version. This should work in the absence of git (i.e. tarballs should build correctly).

[2015-04-22 13:20] delcypher opened #180 "Make PPA for stable release"

[2015-04-22 13:24] delcypher commented on #178
Perhaps we should move this to the 1.2 release so we can release sooner?

[2015-04-22 13:24] delcypher commented on #151
Perhaps we should move this to the 1.2 release so we can release sooner?

[2015-04-22 13:24] delcypher commented on #134
Perhaps we should move this to the 1.2 release so we can release sooner?

[2015-04-22 13:54] delcypher opened #181 "Decide on STP release version numbering"
I put ``1.1.0`` simply because the STP PPA package is ``1.0+1SNAPSHOT20141101-0~trusty`` current (i.e. a snapshot after 1.0).

I'd like to follow [semantic versioning](http://semver.org/) so I'm wondering if we should actually start with ``1.0.0`` instead.

@msoos Thoughts?

[2015-04-22 22:49] #177 closed

[2015-04-22 22:50] msoos commented on #177
I hope this finishes this off. Looks OK to me on installed files.

[2015-04-22 23:01] msoos commented on #181
I agree with semantic versioning. There was an STP2 by Vijay at one point (see Sourceforge), so I put 3.0.0 at the top of the CMakeLists.txt.

The SONAME is simply ends with "3", this seems to be the way it's done in most Linux libraries:

[code]

and the installed files are with full version:

[code]

What we also need to decide is where we're going to update the version. I hate to always manuall

[2015-04-22 23:06] #179 closed

[2015-04-22 23:08] msoos commented on #179
GIven my explanation of how I intend to package tarballs with cpack ( https://github.com/stp/stp/issues/181 ) the above should be OK. Please check and thanks for the creation of the issue, I would have completely forgotten about it :(

[2015-04-22 23:12] delcypher commented on #179
I'll have to test this tomorrow but this looks sensible to me. I'm happy to update the version numbers manually as we only need to this for each release.

[2015-04-22 23:13] delcypher commented on #177
Thanks for doing this. I'll check this tomorrow.

[2015-04-23 00:24] msoos commented on #179
Oh, OK. I just spent some time extracting the number from GIT, it's not that hard. Currently I have a hard-coded 2.9.99 but as soon as we tag the first release, it will be 3.0.0. From then on the tarballs should have an auto-generated TXT file that describes the version (that cmake gets from the tag) which is read by cmake in case the GIT is not found. This way, we don't need to care, just need to

[2015-04-23 00:26] msoos commented on #179
And for good measure I also added the version into the config.h.in as `STP_VERSION`,  `STP_VERSION_MAJOR` and `STP_VERSION_MINOR`. I guess that makes sense, too.

[2015-04-23 23:10] msoos commented on #132
Let me close this. The problem has essentially been fixed, and there isn't such a huge benefit to building 2 parsers, really. Also, the `stp < fname` works, though only for CVC as that's default, for SMTv2 you need `stp --SMTLIB2 < fname`. So, all in all, things work as one would expect them to.

[2015-04-23 23:10] #132 closed

[2015-04-23 23:53] delcypher commented on #181
I'm not convinced with the choice of ``3.0.0``. We haven't really changed the public API since STP 2 so it probably ought to be ``2.1.0`` but a lot has changed internally so I'm happy to bump to 3 if you want.

I think we'll need to play with tarball generation to see what the best approach is.

[2015-04-24 00:03] delcypher opened #182 "Support tarball generation"
We need to support the generation of tarballs that work without git and show proper version information.

[2015-04-24 00:09] delcypher opened #183 "Hide non public symbols in the shared library"
We're currently exporting all the symbols in the shared library which isn't a good idea. This prevents a client from using STP as a shared library and using a different version of aig (or anything else that might cause a symbol clash) in their application. We are also implicitly saying that we intend all these symbols to be part of our API which really isn't the case.

We should only export the sy

[2015-04-26 00:21] msoos commented on #181
You are right of course. We should leave it at 2.x. Yes, a lot has changed, but the interface has not, so probably 2.1 is good. Thanks for the tarball generation issue opening. And fixing the build. And all the other help :)

[2015-04-26 00:31] msoos commented on #133
CMS2 is now removed, CMS4 is now the default instead. CMS4 is _much_ more thoroughly tested and is in active development. It should thus be much easier to debug. This bug will no longer be relevant, thankfully :) I hope the new solver is _way_ faster!

Cheers,

Mate

[2015-04-26 00:31] #133 closed

[2015-04-26 01:08] msoos commented on #182
I just added a first version of the CPack system. It will package a file if you do   `make dist` after `cmake ..` in `build/`. It doesn't yet create the file containing the version number but it's not a bad start I think :)

[2015-04-26 10:05] delcypher commented on #182
Thanks. We may have to just accept not getting git information into the tarball for now and just manually update the version in the root ``CMakeLists.txt`` that is used when detection of git fails.

I tried doing this hack

[code]

but

* The copy fails because the ``lib/Util`` directory doesn't exist because the copy happens to early.
* Even the above did succeed it wouldn't work because CMake wi

[2015-04-26 10:07] delcypher commented on #182
Given how infrequently we will be generating tarballs (once every release) I would vote for not doing the above hack and just manually modifying the ``CMakeLists.txt`` file prior to every release

[2015-04-26 10:09] msoos commented on #182
OK, I agree, good idea. Let's just not do the "tag" thingy I did in the CMakeLists and do the manual update. But let's make sure we only need to configure the version in one place and all the rest takes it from there (as it is now, but instead of taking it from the tag, manually set it)

[2015-04-26 10:09] delcypher commented on #181
Okay 2.1 it is :)

[2015-04-26 10:09] #181 closed

[2015-04-26 10:24] delcypher commented on #182
We are going to be having git tags because we'll be using GitHub's release feature.

I actually quite like the git tag feature because it will show you if you have diverged from a tag. However the git information is kind of broken right now because it isn't regenerated on rebuild so you have to do

[code]

to get CMake to regenerate the file.

So I suppose we could remove the git tag stuff but I'd

[2015-04-26 10:28] delcypher commented on #182
@msoos Sorry I was wrong. After a commit the CMake code we use forces a reconfigure so the git tag and git sha1 hash should always be correct.

[2015-04-29 20:37] msoos commented on #182
I like your 2nd idea. But we don't need much, only branch off and add one commit to the new branch: remove the SHA hash and add the version number. Then we continue developing on master. This allows the branched-off-version to have a slightly hackish version number (fixed, no SHA tag)

[2015-04-29 20:44] msoos commented on #183
This seems horrendously complicated. It'd be nice to do but I don't understand half of this. Could you make some headway? I would

[2015-04-29 21:13] delcypher commented on #182
I'm confused, I don't understand which idea you are suggesting. My plan is this.

1. When we are ready to release ``2.2.0`` we add a commit to ``master``  that increments the version number in the cmake lists to ``2.2.0``.
2. We then tag this release with a tag called ``v2.2.0`` and use GitHub's release feature to show this release publically
3. We create a ``2.2.x`` branch of master at the tag we

[2015-04-29 21:57] msoos commented on #182
Sorry. I'd go with your suggestion. As for extracting the tag... it's not that hard to add it back, but it's a bit difficult hack to do the tag extraction-creation.

As for using the GitHub release feature -- sure, I'm good with that. But then can we still use the CPack? I thought that the tarball is then auto-generated by GitHub.

[2015-05-05 13:55] delcypher commented on #182
@msoos It seems for GitHub releases the source code as it is in the tagged commit is used. This means we cannot do manual tag extraction unless we upload our own tarballs manually, unless we avoid using GitHub releases.

Here's [an example](https://github.com/Z3Prover/z3/releases/tag/z3-4.4.0)

[2015-05-05 14:10] delcypher commented on #183
I think an easier way for us to achieve this is to use ``-fvisibility=hidden`` and mark our public API functions with the appropriate attributes as [described here](https://gcc.gnu.org/wiki/Visibility)

[2015-05-06 23:18] msoos commented on #182
I'm a bit confused about this GitHub release system. It generates the tarball from the GIT as far as I can tell so the CPack is completely useless? I know I sound dumb here, but either I can't help or you need to explain this to me, I'm sorry. I don't understand this concept. Can you explain a little bit? Thanks!

[2015-05-06 23:24] msoos commented on #183
Yup, I am fully on board this one. Messy define stuff but looks more portable and actually quite clean for a define-based solution. Good with me :)

[2015-05-06 23:26] msoos opened #184 "Create docker app"
Docker seems like a great platform to use: it handles text input&output really well and for stateless systems like STP it's amazing easy and useful. I'll try to make one for our new release, including CMS4 and MiniSat. Probably KLEE should make one too, but that's their pick.

[2015-05-06 23:27] delcypher commented on #184
@msoos [KLEE already has one](https://registry.hub.docker.com/u/klee/klee/)

I set it up so on every push to KLEE's GitHub repo a new image is built.

[2015-05-06 23:29] delcypher commented on #182
@msoos Sorry I don't really have much experience here but AFAICT GitHub generates the tarballs from a particular revision so yes CPack is kind of useless if we rely purely on GitHub but it's always nice to have a fallback

[2015-05-06 23:29] msoos commented on #184
Wow. So it builds a new STP every time, too? Can you set one up for STP as well?

[2015-05-06 23:31] msoos commented on #182
OK, so it's as I suspected. In that case, let's drop the CPack, it's one more thing that will code-rot. I'll remove it with a commit and we can revert another time if we need it. Relying on GitHub sounds good to me :)

[2015-05-06 23:31] delcypher commented on #184
@msoos Yes. For KLEE I also reused the TravisCI build scripts to try to deduplicate the effort too

I can set it up for STP but we probably should have stable images too (which we can also set up)

[2015-06-20 18:43] msoos commented on #182
So, this is closed because we'll use github to generate tarball. Done :)

[2015-06-21 23:40] ericsmithkestrel opened #186 "STP seems to give wrong answer"
We are trying to upgrade to the latest STP, but we are seeing
discrepancies.  Consider the query below.  The old STP (SVN version
1659) says it is Valid.  But the newest STP says Invalid (and seems to
give a spurious counterexample):

ASSERT( X = 0b0000000000000000000000000000000 );
ASSERT( Y = 0b1111111111111111111111111111111 );
Invalid.

Under the counterexample, I think NODE212 is false, so NO

[2015-06-22 06:54] rgov opened #187 "Use MiniSat::memUsed(Peak) instead of time_mem.h?"
The time_mem.h header seems to come from MiniSat originally, but it has diverged from MiniSat and does not seem to be implemented fully on platforms other than Linux and FreeBSD. Should we just switch to using the implementations that MiniSat exports?

The downside is that the definitions in time_mem.h are inline.

[2015-06-22 08:34] rgov commented on #186
Thanks for your report!

This query returns Valid on e8703fb but Invalid on 04256f9. I'm going to do a git-bisect on this range.

[2015-06-22 17:16] rgov commented on #186
[code]

@msoos do you want to look into this one?

[2015-06-22 19:20] msoos commented on #186
Damn, I knew it. Yes, sure, I know where this is. Shouldn't have added the extra rule. Fixing...

[2015-06-22 19:56] delcypher commented on #186
On 22 Jun 2015 12:20 pm, "Mate Soos" <notifications@github.com> wrote:

the extra rule. Fixing...

Could you add a query file text case first too?

[2015-06-22 20:14] #186 closed

[2015-06-22 20:15] msoos commented on #186
Aaaand this probably guaranteed our failure at the SMT competition. I'm horrible. Sorry :(

[2015-06-22 20:34] msoos commented on #186
(also, I added a query test as per @delcypher  suggested)

[2015-06-22 20:37] msoos commented on #187
Good with me!

[2015-06-22 23:05] msoos commented on #186
And we would have been 2nd place again if I didn't mess it up: http://smtcomp.sourceforge.net/2015/results-QF_BV.shtml?v=1435013701 I'm sorry. We are 3rd place with MiniSat. The system again managed to mess up the names, it's supposed to have STP- in front (not just "CMsat4"), and it did, of course, throughout.

[2015-06-22 23:28] ericsmithkestrel commented on #186
Thanks for the very quick fix!  My head's not really in this, but one thing I was concerned about is that checking the counterexample didn't catch this issue.  Shouldn't counterexample checking be done totally separate from all the simplification rules, etc?  Might help catch things like this in the future.  Thanks again!

[2015-06-23 20:58] msoos commented on #186
@ericsmithkestrel I am not as familiar with SMT. However, from experience:
* Parsing is non-trivial. Substituting and checking would only help in case parsing is 100% correct.
* Keeping the parsed, untouched AST in memory for future checking may be prohibitive. In SAT this is certainly the case. Once the SMT/TSAT file has been read in, it may have changed in disk/was read in from stdin, so we must

[2015-06-23 21:05] ericsmithkestrel commented on #186
I don't have time to write the evaluator, but I thought STP already had this feature (the -d option is described as "construct counterexample and check it").  So I was surprised that that failed to catch the bug.  (Yes, it would not catch parsing bugs, but I don't think this was a parsing bug.)  Regarding keeping the value in memory, you could do it only if the -d flag was given.

[2015-06-23 21:11] msoos commented on #186
I don't have time to write one, either :( As for the `-d` flag, it uses the simplified AST, which means in this case it would not have caught the bug, as the AST simplification was wrong -- which is what is wrong in 99% of the cases. In all complex simplifying solvers, the simplification is what is most often wrong, so checking the solution against the simplified AST helps very little if at all. I

[2015-06-24 22:25] mdempsky opened #188 "Assertion `!InsideSubstitutionMap(e0) && "e0 MUST NOT be in the SolverMap"' failed."
I'm seeing this assert failure + stack trace trying to use STP in Chromium:

    symbolic_unittests: ../../third_party/stp/src/include/stp/Simplifier/SubstitutionMap.h:161: bool stp::SubstitutionMap::UpdateSubstitutionMapFewChecks(const stp::ASTNode &, const stp::ASTNode &): Assertion `!InsideSubstitutionMap(e0) && "e0 MUST NOT be in the SolverMap"' failed.
    Received signal 6
    #0 0x00000057f

[2015-06-24 22:35] mdempsky commented on #188
BTW, I should caution I have no idea if I'm using the API properly/optimally.  I picked up the vc_query(vc, falseExpr) trick from KLEE, which I understand to mean that as long as it returns INVALID (i.e., it's *not* possible to "prove" false), then the set of asserted expressions/formulas are satisfiable (and satisfying values for A and B can be retrieved using vc_getCounterExample + getBVUnsigned

[2015-06-24 23:27] mdempsky opened #189 "getBVUnsigned: Attempting to extract int value from a NON-constant BITVECTOR"
I'm getting:

    Fatal Error: getBVUnsigned: Attempting to extract int value from a NON-constant BITVECTOR:

    20:(BVPLUS
      18:0x0000002A
      16:(BVPLUS
        12:A
        14:B))

from this program:

    VC vc = vc_createValidityChecker();
    Expr falseExpr = vc_falseExpr(vc);

    Expr A = vc_varExpr(vc, "A", vc_bv32Type(vc));
    Expr B = vc_varExpr(vc, "B", vc_bv32Type(vc));

    vc

[2015-06-24 23:45] mdempsky commented on #189
Relatedly, if I instead just do

    uint32_t a = getBVUnsigned(vc_getCounterExample(vc, A));
    uint32_t b = getBVUnsigned(vc_getCounterExample(vc, B));
    uint32_t sum = getBVUnsigned(vc_getCounterExample(vc, AplusBplus42));

then the assert fails because it gives me a == 0, b == 0, sum == 0.  But maybe that's a separate issue.

[2015-06-28 20:52] msoos commented on #189
Sorry for the late answer. I'll look into this this week. Again, sorry, there were like a 100 deadlines these days, including SMT comp, where there was a bug. Maybe you'd like to re-download STP, there was a fix not long ago.

[2015-06-29 18:35] mdempsky commented on #189
I'm using stp/stp@05e2e26 and stp/minisat@3db58943b6ffe855d3b8c9a959300d9a148ab554, which I believe are the latest revisions of each.

[2015-07-03 19:15] #187 closed

[2015-07-07 09:43] zhaopengli opened #190 "compilation error on Ubuntu 15.04 64-bit"
[ 99%] Building CXX object tools/rewrite_rule_gen/CMakeFiles/rewrite_rule_gen.dir/rewrite_rule_gen.cpp.o
In file included from /home/zpli/Workspace/stp/tools/rewrite_rule_gen/rewrite_rule_gen.cpp:53:0:
/home/zpli/Workspace/stp/include/stp/Util/find_rewrites/rewrite_rule.h:99:65: warning: unused parameter ‘_id’ [-Wunused-parameter]
                const stp::ASTNode& to_, const int t, int _id = -1)

[2015-07-07 10:26] zhaopengli commented on #190
fixed by adding "#include <sys/time.h>" in
"include/stp/Util/find_rewrites/rewrite_rule.h"

[2015-07-07 13:22] alexkamp commented on #190
Any plans to make a pull request with this additional include? If you don't want to, I am basically one mouse-click away. I just don't want to steal your fame ;)

PS: Same problem in a docker container which uses the ubuntu:14.04 base image. Same fix works.

[2015-07-07 23:52] msoos commented on #190
Fixed in latest push. Thanks to @alexkamp for the fix and to @zhaopengli  for the bugreport!

[2015-07-07 23:52] #190 closed

[2015-07-07 23:54] msoos commented on #188
Before you think I haven't done anything with this... I spent an hour or two on this one during the weekend but gave up. I need to dig deeper and I was a bit distracted. Anyway, I did actually spend time on it. I'll try to get to the bottom of it. I think the pop/push is the issue here. I the meanwhile, the python API has that fixed and you may be able to use that to your advantage. It's easier an

[2015-07-08 21:47] mdempsky commented on #188
If I comment out the `vc_push(vc);` call, I still get the same assert failure.

On the other hand, it seems if I wrap each call to `vc_query(vc, expr);` with an extra `vc_push(vc);` / `vc_pop(vc);` pair (following the Python bindings as an example), then it runs without crashing.  (Seems calling vc_assertFormula and vc_query at the same scope is problematic?)  That's a bit clunky, but I could live

[2015-07-09 01:24] msoos commented on #188
Yeah, I got that far too, but I don't get it why that's needed. May be a bug, maybe it's by design. Hard to say, the code is a bit difficult to follow.

[2015-07-17 19:09] msoos opened #191 "Compile STP with emscripten and put it online on GitHub page"
For people to play with it! :)

[2015-07-23 21:20] kovach opened #192 "running `make` without `make AST` first fails"
build fails because AST/ASTKind is not present; building the AST target first works though.

I'm using cmake 3.0.2 on osx.

[2015-07-23 21:32] msoos commented on #192
Hey! Thanks for that! Can you please delete your generated AST header and try to re-produce the make output with: "make VERBOSE=1" when it fails? I'd need to know how it went.

Thanks a lot in advance,

mate

[2015-08-02 02:58] rgov commented on #191
[Ace](http://ace.c9.io/) is an open source embeddable code editor. It already has a Scheme syntax highlighter, which we could extend with SMT-LIB2 keywords. But the C API doesn't easily let you parse SMT-LIB2.

[2015-08-02 05:14] rgov commented on #191
To start with, here's how to get CryptoMiniSat building with Emscripten:

[code]

And then

[code]

Cool, now we need MiniSat. That required some patching to get it to build. (Unfortunately my patch mixes actual bug fixes with Makefile hacks.)

[code]

Then I hacked on STP a little, first because I couldn't get it to automatically find MiniSat, then because there were a few compiler errors in `abc

[2015-08-02 05:20] rgov commented on #191
It weighs about 8MB compiled, and seems to be self-contained. I haven't done any real performance tests, but just that test case I used above takes 200-300x longer.

[2015-08-11 09:51] mbaluda opened #193 "Support for MAX-SMT"
Is there any interest in supporting MAX-SMT optimization?
To the best of my knowledge only Z3opt and Yices 1 do have support for it.

[2015-08-11 19:21] msoos commented on #193
Sorry, but it's not on the horizon. However, if you feel like implementing it or if you are happy to find someone who will do it for free or are happy to pay for someone to do it, that'd be great!

[2015-08-20 19:24] mdempsky commented on #189
Any suggestions on how to proceed here?  I'd prefer to avoid having to duplicate the expression trees that I believe STP is already maintaining.

[2015-08-21 12:00] prokls opened #195 "python binding: (a << 1) != (1 << a)"
[code]

I found a bug with the shifting operator. I assume the MWE is self-explanatory.

[2015-08-21 12:31] prokls commented on #195
[code]

Let's get rid of the ``operator`` library. I'm not sure ``a << b`` equals ``operator.lshift(a, b)`` in every situation.

[2015-08-21 12:39] prokls commented on #195
The bug is obviously the [python datamodel](https://docs.python.org/dev/reference/datamodel.html?highlight=rlshift#object.__rlshift__) implemented wrongfully. See [bindings/python/stp/stp.py#L466](https://github.com/stp/stp/blob/master/bindings/python/stp/stp.py#L466):

[code]

Actually ``a.__lshift__(b)`` equals ``b.__rlshift(a)``. Hence if one parameter is constant, the order gets screwed up.

[

[2015-08-27 23:48] msoos commented on #195
Wow, thanks for the detailed analysis!

I created a pull request that reflects your change. Can you please check that that's what you intended?

Thanks a lot in advance,

Mate

[2015-08-27 23:48] #193 closed

[2015-08-27 23:55] msoos commented on #192
I looked at every target. All that needs the ASTKind.h seems to require it. I cannot reproduce it using the ZIP file and then trying to "make" single-threaded as described in the bugreport. The original reporter is not available for comment :( So I must close this. Sorry!

[2015-08-27 23:56] msoos commented on #182
Yeah, we used GitHub, so we shall do that in the future. Closed!

[2015-08-27 23:56] #182 closed

[2015-08-28 00:03] msoos commented on #88
Let's see if TravisCI likes it. If it does, I merge and we are good. In that case, it works in both cases so there is no need to have the python hard-coded and this issue can be closed :)

[2015-08-28 10:23] prokls commented on #195
Your patch breaks the implementation:

[code]

1. You still need the ``_2w`` implementation for operations where the operands are not swapped. Hence methods in the data model which do not look like ``_r*__``.
2. Furthermore you need to extend that to all operations with swapped operands (including add, sub, …).

I attached a patch, which looks fine. Shifts pass the above testcase and other operato

[2015-08-28 19:27] msoos commented on #195
Cool, thanks a lot for that. And sorry for my misunderstanding. It was late in the night... By the way. In case you would like to contribute more to the python part or any other part, I'd be happy to give you access to the STP repo. Then you could make changes as you wish :)

[2015-08-28 19:27] #195 closed

[2015-09-09 05:14] mdimjasevic opened #199 "Copyright information in LICENSE"
In the `LICENSE` file only Vijay Ganesh is listed as the copyright holder. However, this is in contradiction with e.g. the copyright header in `bindings/python/stp/stp.py` where (C) 2014 Jurriaan Bremer is also listed. Also, the `AUTHORS` file lists quite a few authors, but it is not clear from the file if they're copyright holders.

What I would like to ask is to make it clear if an author is als

[2015-09-09 16:15] hellovijay commented on #199
Dear Marko,

Currently only Vijay Ganesh is the copyright holder. (In the future, some
of the leader maintainers may become copyright holders as well.)

However, we may have different copyright holders for bindings.

One way you could package STP is to package it without the bindings, and
redirect users to the STP repo for bindings.

Cheers,
Vijay Ganesh.

On Wed, Sep 9, 2015 at 1:14 AM, Marko Dim

[2015-09-09 16:25] mdimjasevic commented on #199
Hi Vijay,

There are other places where other authors are listed as well, e.g. `lib/AST/ASTmisc.cpp`. What is confusing about a file like that is that it lists a license, but it doesn't say who is the copyright holder. As a matter of fact, this file in particular with the AUTHORS tag suggests that both you and Trevor Hansen are copyright holders (though the copyright is not really stated), but the

[2015-09-09 20:02] msoos commented on #199
Well.. I think Trevor Hansen should be contacted for this issue, to be on the safe side of the legal fence as he contributed a measurable chunk of the code. I wouldn't be surprised if he was fine with Vijay being the only copyright holder, but I think an email would do good.

As for others:  my contributions were relatively minor and I'm happy to give up copyright for them. I believe Dan, Ryan and

[2015-09-10 02:24] mdimjasevic commented on #199
I am not familiar with how STP was developed, so I don't know if you made any agreements on how copyright is to be handled. Also, keep in mind that I am not a lawyer so what follows is my humble and personal understanding of the situation.

By the law, everyone has their own copyright on their creative works. One has to take action to assign their copyright to someone else. The project being licen

[2015-09-10 18:39] msoos commented on #199
Let's try to send around an email and ask everyone's permission to put the work under Vijay's copyright. I'll update this issue once we resolved these.

It seems that all the other code that is included as-is into the codebase needs to keep its copyright, so the authors of the 3 libraries I mentioned need to be included.

I'll create a separate file, "COPYRIGHT" with all the details of this so it'

[2015-09-10 18:53] msoos commented on #199
(oh, I don't know why I wrote Wi, I meant Khoo)

[2015-09-10 20:39] khooyp commented on #199
I'm fine with assigning the copyright to Vijay. Thanks!

[2015-09-11 01:24] delcypher commented on #199
Isn't giving up your copyright saying that you are not the author? They sound incompatible.

[2015-09-11 02:52] mdimjasevic commented on #199
Being an author and a copyright holder are two separate things. For example, if you write software for your employer, it's very likely you're not a copyright holder, but your employer is. You're still an author (though companies usually don't list authors/developers anywhere in the software).

Since it's "all rights reserved" by default by the law, it's up to the copyright holder to say how much o

[2015-09-11 14:52] hellovijay commented on #199
I agree with Mate on this.

Mate,

Yes, could you please draft an appropriate email and ask around?

-Vijay Ganesh.

On Thu, Sep 10, 2015 at 2:39 PM, Mate Soos <notifications@github.com> wrote:

[2015-09-11 14:53] hellovijay commented on #199
Once again, I am in total agreement with Mate.

-Vijay.

On Wed, Sep 9, 2015 at 4:02 PM, Mate Soos <notifications@github.com> wrote:

[2015-09-11 15:00] hellovijay commented on #199
Hi Marko,

As Mate suggested, we should ask everyone whether they are will to give up
their copyright.

I am quite happy to share the copyright. STP wouldn't be where it is
without the contributions of Trevor, Mate, Dew, Ryan, Dill, Khoo, and
others.

If I were to highlight the most important contributors, I would say they
would be myself, Trevor Hansen, Mate Soos, and David L. Dill.

Why don't we

[2015-09-11 16:37] mdimjasevic commented on #199
Hi Vijay,

I'm glad to hear this is going so smoothly! Making sure everyone is fine with whatever you/all of you want to do is the way to go.

Cheers,
Marko

[2015-09-14 04:50] mdimjasevic opened #200 "Running tests in a build with the lit tool"
I've been trying to build the 2.1.0 release of STP and run tests that come with it. This is what I use in a debian/rules file:

[code]

I get the following error:

[code]

This happens in Debian 8.2, with the llvm-3.5-tools package installed, where I believe the lit tool in question should be.

Is there something I could do to make the build process aware of the system-wide installation of lit?

A

[2015-09-14 05:13] delcypher commented on #200
@mdimjasevic I'm actually the person who set up the testing infrastructure so I'm the more appropriate person to ask. As the error message suggests you need to tell it where to find ``lit``.

``lit`` is available from PyPi (``pip install lit``). Alternatively you can try using ``llvm-lit`` (which is basically the same) but you'll need to tell CMake where to find it when configuring. E.g.

[code]

[2015-09-14 05:17] delcypher commented on #199
@hellovijay @msoos @mdimjasevic

I do not wish to give up my copyright.

[2015-09-14 20:30] msoos commented on #199
Cool, let me have the copyright, too, actually. I did put quite a bit of work, so maybe that makes sense. Let's ask Ryan as well. Trevor hasn't yet replied, so we may need to assume that he has copyright, too.

[2015-09-14 21:55] mdimjasevic commented on #200
thanks, @delcypher for the hint. Since this is for creating a package for STP in Debian, I decided to go the Debian way, i.e. installing it with `apt-get`, i.e. adding it to `Build-Depends` in `debian/rules`.

The next problem I stumbled upon is that now I get this error:

[code]

This is caused by `tests/CMakeLists.txt:39`:

[code]

If I comment out that line (which points to an otherwise empty d

[2015-09-14 22:03] msoos commented on #200
You need to initialized the git submodules :) Here:

[code]

That will do the trick :) Then the build will succeed. I hope this helps!

[2015-09-14 22:08] mdimjasevic commented on #200
Yup, silly me, I figured that out in the meantime with submodules. Still, what should I be expecting in the output to see tests executing?

[2015-09-14 22:11] msoos commented on #200
`make check` will do the trick :)

[2015-09-14 22:17] msoos commented on #200
Actually, all of this is supposed to be in https://github.com/stp/stp/blob/master/INSTALL.md Please tell me how it could be improved!

[2015-09-14 22:24] delcypher commented on #200
@msoos

Could you add an issue to produce a better error message when the submodules are missing and assign it to me?

I'm on my mobile so I can't look it now but I should be able to in the next few days.

[2015-09-14 22:48] mdimjasevic commented on #200
@msoos , thx for a pointer to these very detailed instructions! I can execute tests now.

I'm 99% sure I'm missing something again, but are some tests expected to fail? In particular, I see failures in C-api-tests:

[code]

[2015-09-15 05:54] hellovijay commented on #199
Sounds great Dan and Mate.

Can you please go ahead do the needful, and modify the COPYRIGHT file
appropriately.

Thanks again to all of you for your great work!

Cheers,
Vijay Ganesh.

On Mon, Sep 14, 2015 at 4:30 PM, Mate Soos <notifications@github.com> wrote:

[2015-09-15 20:19] rgov commented on #199
While I acknowledge that the core of STP was developed by others, I have contributed a few changes and source files, and I'd like to retain copyright over them. This seems to be standard in many projects I've contributed to, including [LLVM's Developer Policy](http://llvm.org/docs/DeveloperPolicy.html#copyright).

[2015-09-15 20:26] mdimjasevic commented on #199
Again, I'm glad this has been worked out.

I'd suggest you all go through files you've touched/contributed to and update it it such that it reads something along:

[code]

followed by the license.

Finally, all of you that have copyright out to be listed in the main LICENSE file, along the lines suggested above.

[2015-09-15 21:54] msoos commented on #199
Note the diff. I have updated all the years given the GIT log that was available to me. Please take a look, but I think according to what I know, it should be fine. @mdimjasevic  is this good for your requirements?

[2015-09-15 21:56] msoos commented on #200
@delcypher  I tried to add 2 new messages to the repo that warn about the lit tool needing to be installed and the submodules. I think it's OK but maybe you could check? The diffs are:

c291d5f47890c38466ab30522b0acd79fcb15192
5ab33e3f717d7dec24230b9ae03affbc1e48f3a0

Thanks!

[2015-09-15 22:08] msoos commented on #200
@mdimjasevic Something is odd there. Both on my machine and on TravisCI all the tests pass.Maybe you have an old STP version installed as well into a default path? Or some other weirdness? Try `rm -rf build` and then `mkdir build && cd build` and `cmake ..` and `make`. Maybe that will do the trick...

[2015-09-16 05:10] mdimjasevic commented on #200
@msoos, this is with the 2.1.0 release. As I use Vagrant for this, there is no previous installation of STP or anything like that. Just to make sure this is what really happens, I re-executed all the steps from cloning STP to configuring the build process which goes like this:

[code]

The result is the same as reported above.

That's the `amd64` architecture if that is of any help.

[2015-09-16 05:17] delcypher commented on #200
Try running the built test executables manually to see why they are failing.

e.g.
[code]

[2015-09-16 05:36] mdimjasevic commented on #200
@delcypher, that's interesting. When I run the failing tests individually as you've suggested, they all pass. I don't have a clue what's going on.

[2015-09-16 05:38] delcypher commented on #200
``lit`` simply runs the tests it finds in a directory. You should check what doing

[code]

does when run from the root of the build directory.

Note that we use ``lit`` from PyPi and not from the LLVM source tree so that "might" be the source of your problems.

[2015-09-16 05:41] mdimjasevic commented on #200
@delcypher:

[code]

[2015-09-16 05:54] delcypher commented on #200
This suggests something is going wrong with the ``make check`` invocation. Try running

[code]

this will run the C API tests only

[2015-09-16 05:57] mdimjasevic commented on #200
@delcypher, the result is the same, i.e. those 25 failures out of 65 tests.

[2015-09-16 05:58] delcypher commented on #200
Try

[code]

this should show you the exact command line used to invoke ``lit`` which will hopefully let you debug what is going on.

[2015-09-16 06:57] delcypher commented on #200
@msoos Thanks. I've made a minor improvement in b7f0781b67a33c63c408a0d127949cf01ea0e03d

[2015-09-18 04:18] hellovijay commented on #199
Dear Mate, Ryan, and Dan,

I made a minor edit, and added David Dill's name as well to the COPYRIGHT
file. Kindly git pull.

Thanks for taking care of this issue.

Cheers,
Vijay Ganesh.

On Tue, Sep 15, 2015 at 5:54 PM, Mate Soos <notifications@github.com> wrote:

[2015-09-18 04:25] mdimjasevic commented on #199
Hi all,

Would you mind combining the COPYRIGHT and LICENSE files? This way it is still a bit confusing because the COPYRIGHT file only lists copyright holders without stating a license, and then the LICENSE file lists only Vijay as the copyright holder.

[2015-09-18 22:06] msoos commented on #199
Hi @mdimjasevic , I hope this fixes the issue :) Thanks for the hand-holding, really helped! In case this really does fix the issue, please close :) Thanks again for al,

Mate

[2015-09-18 22:45] mdimjasevic commented on #199
Hi @msoos, thanks a lot for this! I am glad to see this being worked on so promptly!

One more related question from a random walk through the repo - are CMakeLists.txt files considered to be software as well? I know next to nothing about CMake, but these look like programs to me. Would you mind adding copyright notices to them as well?

[2015-09-19 02:17] mdimjasevic commented on #200
@delcypher, I managed to figure out where's the problem (or at least what it has to do with). It has to do with passing the `-DUSE_VALGRIND=ON` option to CMake. When built with it, the tests fail; when built without it, the `check` target builds successfully.

I don't know why that happens. Grepping GTest for "valgrind" I see they mention it in the code, but I didn't dig to see what exactly is hap

[2015-09-19 02:21] delcypher commented on #200
Oh I see. Running the tests with Valgrind has never worked (which is why that option is currently disabled). When I wrote the test infrastructure I added support for it but I never looked into why they were failing in much detail. I think part of it has to do with STP's abysmal C interface.

[2015-09-19 02:51] mdimjasevic commented on #200
@delcypher, thanks for that! Maybe you could update this page accordingly: https://stp.github.io/testing/.

[2015-09-20 10:36] msoos commented on #199
How about now? :)

[2015-09-21 21:51] msoos commented on #199
I think this can now be closed, since all the issues have been resolved I believe. @mdimjasevic please re-open if there is anything missing. As far as I know, all files now contain proper copyright headers, copyrights have been assigned, licenses have been properly identified. Please re-open if you have any further issued, we'd be glad to help! Thanks!

[2015-09-22 03:29] mdimjasevic commented on #199
Hi @msoos,

The source tree still has files that don't have a copyright header as discussed in this issue. Some files don't mention autors nor copyright holders. I suggest putting those that touched the files as copyright holders. Some files simply list authors, but don't state who has copyright. Here I suggest replacing "authors" with "copyright 2015" followed by the same authors listed. Some fil

[2015-09-22 22:14] msoos commented on #199
I am not so sure that the build system really needs to be that well documented, to be honest. It doesn't get built into the final executable. Even the GPL only requires the build system to be provided but puts no constraint on its license. Please correct me if I'm wrong.

As for the " AUTHORS: Unknown", I'll take a look and fix them all. Again, it think from the perspective of using the system, it

[2015-09-22 22:26] msoos commented on #199
Okay, "Unknown" authors fixed. Next up is the build system.

[2015-09-22 22:32] msoos commented on #199
OK, I think I managed to fix up the issues with the build system too. Please take a look!

[2015-09-26 14:49] msoos commented on #199
@mdimjasevic Hey, I think I managed to fix all the issues. Can you please take a look?

Thanks!

Mate

[2015-09-27 04:14] mdimjasevic commented on #199
Hi @msoos,

Thanks for working on this! I do appreciate it a lot!

I am not a lawyer nor a copyright expert, so whatever I say here is my own opinion and understanding of copyright and licensing only, which could be wrong. That said, I still think every source file ought to have a copyright header saying who holds copyright and which license it is available under, and not simply listing authors. S

[2015-09-27 04:29] mdimjasevic commented on #200
I have no further questions regarding this so I'm closing the issue.

[2015-09-27 04:29] #200 closed

[2015-09-27 05:08] mdimjasevic commented on #159
Hi guys,

As you already know by now, I've been working on packaging STP for Debian. These external dependencies you've been talking about in this issue look peculiar from that point of view: I'm not sure at the moment if I should package them separately. (I'm hoping this is still on-topic.)

Can you clarify what exactly you have in STP's code base from those dependencies? For example, based on a

[2015-09-28 09:59] delcypher commented on #200
[I've updated the documentation to note that using valgrind for the tests doesn't really work right now](https://github.com/stp/stp.github.io/commit/32ad90e7935eb60426b2f23c25aa8c704761f883)

[2015-09-28 11:07] delcypher commented on #159
I don't really know how ABC gets used in STP but I know it's been hacked to pieces so it really needs to die!

I'd like to make STP depend on an external copy of ABC and preferably the upstream version.

https://github.com/stp/abc was an attempt to start modifying (with the intent of upstreaming) the changes STP needs for ABC. Work on this stalled but I have some free time this week so I'm going t

[2015-09-28 15:28] mdimjasevic commented on #159
Hi @delcypher ,

I think it'd be great if you could re-factor STP in such a way! This would make it so much cleaner and it'd definitely make STP a much nicer packaging target for Debian. Bundling STP together with a project fork that was trimmed down doesn't sound that nice, especially if someone wants to use ABC in Debian for something else.

[2015-09-29 19:59] msoos commented on #199
I think all has been indicated now, as per previous 2 commits. All good, thanks again!

Closing.

[2015-09-30 03:22] mdimjasevic commented on #199
Btw, for a future reference, I just learned about a tool that is very useful for checking file licenses: [licensecheck](https://packages.debian.org/jessie/devscripts). So by simply running:

[code]

in the root directory of STP you get to learn a lot about licenses used and about files that are missing copyright.

[2015-10-01 04:19] mdimjasevic commented on #199
@msoos, @rgov,

I'm still looking at copyright of STP and `scripts/stp-bisect.sh` has no copyright header nor indication of who is an author. However, `git log -- scripts/stp-bisect.sh` says that there is only one commit to the file and that the author is Ryan Govostes. Would any of you mind updating the file with an appropriate copyright header?

It's similar with `tests/generated-tests/generator

[2015-10-01 09:28] msoos commented on #199
stp-bisect -- I fixed that yesterday, forgot to push. I pushed now. As for ArrayGenerator, that needs to go to the trashbin probably. I'll do that tonight (after checking). Thanks!

[2015-10-01 15:31] mdimjasevic commented on #199
@delcypher , @msoos ,

I see you have commits in `lib/extlib-abc`. I'm curious if you were simply removing files (and possibly adding copyright headers) or if you made changes there as well. Because I want to reflect it in a copyright file that will be in the Debian package. If you did make changes, are you aware that the MIT-variant license of ABC is different from the variant you use for STP? In

[2015-10-02 20:01] msoos commented on #199
No changes. It was simply moved around without any changes. In the long run we wish to remove that internal dependency and create an external dependency and not create copyright nightmare with multiple licenses and such. I will now create a new release so you can package! :)

[2015-10-02 20:01] #199 closed

[2015-10-02 20:04] msoos commented on #159
ABC will be removed. There are other AIG->CNF converters out there, maybe we should use them rather than ABC. We'll look into it. Let's package now and then I'll work on removing the ABC dependency. It's going to take a while (months) so it's not going to happen that quick unfortunately :(

[2015-10-04 08:58] delcypher commented on #159
Just to note I've started work on libabc. I'm back from holiday soon so I should be able to do some more work on it again. @msoos just to note I saw your CMake stuff but I'm redoing it as I see a lot of it is copied from STP's build system but I want to do something cleaner (I've kept your code in the ``msoos_hack`` branch and ``master`` is tracking upstream abc)

[2015-10-09 15:21] WeberAndreas commented on #188
I have the same problem:

REMOVED/stp/include/stp/Simplifier/SubstitutionMap.h:159: bool stp::SubstitutionMap::UpdateSubstitutionMapFewChecks(const stp::ASTNode&, const stp::ASTNode&): Assertion `!InsideSubstitutionMap(e0) && "e0 MUST NOT be in the SolverMap"' failed.

My Stack trace:

#0  0x00007ffff5cb49c8 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:55
#1  0x00007ffff5c

[2015-10-21 10:13] domainexpert opened #202 "Missing Wiki"
The link to the wiki from the main project page links to the main project page itself. Actually, I desperately need the API documentation (where could I find it if not from the wiki?).

[2015-10-21 13:53] msoos commented on #202
http://stp.github.io/ is all we have unfortunately. Please check the pyhton bindings' code or just use the python bindings -- it's quite clean and understandable. You are also very welcome to write an API guide. Would be great!

[2015-10-21 18:21] delcypher commented on #202
@domainexpert

There are some comments in

https://github.com/stp/stp/blob/master/include/stp/c_interface.h

but the C API is awful. We have an open issue to write a new one from scratch ( #90 )

[2015-10-21 18:35] msoos commented on #202
@domainexpert  actually, if you can take a look at the existing API and feel like you could do better, it'd be great if you could work on a new one. I'm closing this issue, please follow up on the thread at https://github.com/stp/stp/issues/90 or create a pull request with a new description against the docs here:  https://github.com/stp/stp.github.io Thanks in advance -- every little helps!

[2015-10-21 18:35] #202 closed

[2015-10-22 01:04] domainexpert commented on #202
Thanks to everyone for helping.

[2015-11-14 17:02] aclements opened #203 "vc_getCounterExample does not work for all expressions"
Based on the documentation of vc_getCounterExample, I would expect to be able to pass an arbitrary expression to it and get the concrete value of that expression in the current counterexample. However, it often simply returns the constant 0. For example,

[code]

prints "4294967295 0", but given the value of x, it should have printed 524288 for y.

Given the implementation of AbsRefine_CounterExam

[2015-11-17 15:50] aclements commented on #195
This issue is definitely not fixed on the master branch.

I've sent PR #204 to fix, add tests for, and fill in the missing overloaded operators.

[2015-11-17 19:48] #203 closed

[2015-11-17 19:53] msoos commented on #203
Thanks for the detailed investigation. Great work!

[2015-12-02 12:58] ccadar opened #206 "Division by zero bug"
Using KLEE, we found a crash bug in STP related to the way it handles division by zero.  The bug is reported at https://github.com/klee/klee/issues/308, but I repeat it below.

The problematic query, in SMT2 format, is the following:
[code]

This doesn't crash STP from the command line, but when the query is constructed in KLEE, the following error trace is produced:
[code]
Any hints on what might

[2015-12-02 23:03] msoos commented on #206
Thanks, I'm looking into it!

By the way, a minor thing:
[code]

[2015-12-02 23:05] msoos commented on #206
Note to self. Query is:
[code]

[2015-12-04 02:02] msoos commented on #206
@ccadar The hard question is: what would you like the system to do with divison by zero? What should that be equal to? The problem here is that the constant propagator propagated a 0 around and it got to a divison-by-zero point. So the expression has a divison-by-zero no matter what the symbolic values are. It's non-trivial what to do there, there are a number of options. The SMT community has bee

[2015-12-04 11:14] ccadar commented on #206
In principle, KLEE should never send a division by zero to STP, as it checks all divisors for equality with zero.  I need to take a closer look at the query, which divisor is zero?
Also, how that STP on the command line does not complain?

[2015-12-04 22:54] msoos commented on #191
Wow. That's some amazing work there. And I am _late_ to the game.  Can you please create a new branch of STP where you push your patch to STP?

[2015-12-04 23:44] msoos commented on #88
Okay, so the cmake now has an option to specify the python interpreter explicitly (run `cmake-gui ...` from `build`) Also, the virtualenv should work out of the box. I am closing this. Please re-open if there are further issues with building!

[2015-12-04 23:44] #88 closed

[2015-12-07 14:06] iceman1001 opened #207 "use cryptominisat instead of minisat?"
I have a newbie question, can I use cryptominisat instead of minisat with STP?  Is there a make input to change or?  If its possible?

[2015-12-07 14:08] iceman1001 commented on #207
According to this,  ref ( https://github.com/stp/stp/blob/master/INSTALL.md )
it should autodetect it,  but that doesn't happens on my ubuntu14 system...

[2015-12-07 14:48] iceman1001 commented on #207
It finds it, but still wants minisat.

http://pastebin.com/0HZE5X5P

[2015-12-07 22:22] msoos commented on #207
It still needs MiniSat, MiniSat is not optional, only CryptoMiniSat it. Note that you will need to pass the correct option (`--cryptominisat4`) to use CryptoMiniSat otherwise it defaults to MiniSat. Sorry for the inconvenience. You should be able to simple install MiniSat though:

[code]

Good luck!

Mate

[2015-12-07 22:22] msoos commented on #207
Please close this issue if the above fixes your problem. Thanks!

[2015-12-08 05:36] iceman1001 commented on #207
yes, got it.  Thanks.

[2015-12-08 05:36] #207 closed

[2015-12-08 14:17] enzet opened #208 "Modulo inconsistent behavior"
We use STP for path constraint solving in our dynamic analysis tool and faced a different behavior in modulo operation handling. Following CVC constraints

    x : BITVECTOR(32);
    y : BITVECTOR(32);
    z : BITVECTOR(32);
    ASSERT(z = BVMOD(32, x, y));
    ASSERT(z = 0hex00000005);
    QUERY(FALSE);

imply following error:

    Fatal Error: BVConstEvaluator:division by zero error
    stp: Err

[2015-12-08 19:24] msoos commented on #208
This is most probably a bug. Thanks for the report! Division by zero is a pain, but this case is almost certainly an issue with STP. As you said, `y` is symbolic, so it shouldn't try to shoot itself in the foot by assigning it to zero :)

[2015-12-09 16:25] iceman1001 opened #209 "output cnf with cryptominisats xor-enhancements?"
Hi,
How do I generate with the -output-CNF for STP,  xor-enchanced cnf to be used with cryptominisat?

[2015-12-09 19:06] enzet commented on #208
Thank you for answer.

If it is interesting for you I've checked Z3 and CVC4 and found the same problem. On the same SMT-LIB 2 formulae Z3 returns expectable result

[code]

but for `bvsmod` replaced with `bvsrem` I get

[code]

CVC4 also returns zero for `y`:

[code]

I suppose the problem is more fundamental.

[2015-12-15 15:06] albar83 opened #210 "Deal with negative numbers"
Hi,
I'm trying to solve simple models using STP but I have a weird behaviour and I cannot understand if it is expected or not:

False

{'x': 0L}

How can i deal with negative number and for example express -10 <= x ,= -1

Thanks,
Alberto

[2015-12-16 00:09] msoos commented on #210
First of all

[code]

Means that system has no model. So printing the non-existent model is wrong. The reason it doesn't have a model is that you have a 32b value that you interpret as an unsigned integer and want to make it less than 0, which is impossible. The "<" automatically assumes it's an unsigned comparison.

[2015-12-16 00:23] msoos commented on #210
The way to do this is, e.g.:

[code]

Which is actually correct, because it prints the bitvector as if it was unsigned. The offending code is:

[code]

Which prints everything as if it was unsigned. It could print it as if it was signed, but that would be kind of wrong too. I'm thinking what would be the best solution. We could of course print both. No big deal, but then we are essentially printin

[2015-12-16 00:29] msoos commented on #210
Notes

* `slt` = signed less than
* you can use `y = s.bitvecval('x'. 32, 0)` which is faster and creates a zero 32b bitvec. Essentially the above is the same, but this is shorter.
* With "getBVInt" we get:

[code]

which is correct.

[2015-12-16 07:40] albar83 commented on #210
Mate,
thanks for your answer. I think the best solution would be act like the C language and consider a kind of "integer promotion" and do not create the model using every time getBVUnsignedLongLong.

[2015-12-16 23:47] msoos commented on #210
The model is not being created using `getBVUnsignedLongLong`. It's only being printed that way. The system has no idea how you want to interpret that bitvector. Remember that you create the variables using bitvectors, without any information how you will be interpreting them (signed/unsigned or a set of bools). It's the operators that interpret bitvectors. So all we are talking about is how to pri

[2015-12-17 16:48] delcypher commented on #210
Bitvectors do not have a sign so it doesn't make sense to me to ever get a signed version. In Python2 the  ``long`` type has "infinite" precision (in python3 there is just ``int``) so provided we are using those types here that seems fine to me.

It might be nice to have a helper "bitvector" class that a client can create from the satisfying assignments to variables but I don't think this is essen

[2015-12-17 16:51] delcypher commented on #210
@albar83

thanks for your answer. I think the best solution would be act like the C language and consider a kind of "integer promotion" and do not create the model using every time getBVUnsignedLongLong.

I don't like the sound of what you are proposing.

Bitvectors are **not typed** with signed or unsigned, they just have a bitwidth and that is all. It is client's job to decided how to interpret

[2015-12-17 22:25] msoos commented on #210
We could, by the way, return the bitvector solution as an array of bits along with a number of methods/properties such as .uint or .int. It's a bit confusing that we print it as if it was interpreted as an unsigned integer. It could be a bool vector, after all. What do you think? A new method, e.g. `modelbits()` could do this. May make things less ambiguous.

[2016-01-17 18:23] necto opened #211 "division by zero false-report"
This may be a duplicate of #206 . In fact the query under consideration is the Klee query, simplified for readability and fed to STP CLI. To this query:

[code]
STP responds with:

    WARNING
    Fatal Error: division by zero error
    stp: Error: division by zero error

Why is it the case? As I understand the first `ASSERT` ensures that `x[0x0]` is never even, so it is definitely not 0.

[2016-01-17 18:26] necto commented on #211
In fact the query can be simplified further:

[code]

[2016-01-17 22:18] msoos commented on #211
First of all, thanks for the bugreport! What's even more interesting:

[code]

then:

[code]

which probably makes this much more understandable. What is happening is that the x is the divisor, so if it's 0, STP goes upside down. The issue is that by having the query "NOT(0x0x = x)" STP tries to prove that this query is false by setting x to 0 and trying to find a solution. So it sets x to 0 and p

[2016-01-21 05:13] linade opened #212 "Multiple validity checkers"
Hi all,
I was trying to use stp c interface and really hope I can do something like this:

#include "stp/c_interface.h"
int main() {
  VC vc1 = vc_createValidityChecker();
  VC vc2 = vc_createValidityChecker();
  ... // do something with vc1
  ... // do something with vc2
  vc_Destory(vc1);
  vc_Destroy(vc2);
  return 0;
}

However, this gives me segmentation fault (even without anything in betwee

[2016-01-21 19:15] msoos commented on #212
This one is really embarrassing and I cannot fix it right now. STP keeps global state and cannot be instantiated multiple times in an executable. Yeah, this needs to be fixed. If you have time, you can take a look at the stpglobals.h and see if you can fix it. I didn't write this so I'm unfamiliar with the code. If you have time and can fix it, I'd be so grateful. Maybe a weeekend project? :) I'll

[2016-01-22 09:30] linade commented on #212
Thanks for the quick reply. It seems originally the globals were for parsers only, but later they are used every where. Most significantly the ASTNode class uses it, and ASTNode is everywhere. I couldn't find a quick fix this afternoon. Probably won't try it this weekend either. It would be faster to get a workaround from my side so.

[2016-02-01 05:07] mdimjasevic opened #213 "Moving to LLVM 3.6"
Dear STP authors,

As you might remember, I've been working on getting a Debian package for STP. [The package has been under review](https://ftp-master.debian.org/new/stp_2.1.1+dfsg-1.html) for 4 months now and I don't know when I'll hear back about the package.

In the meantime, a few changes happened, including STP 2.1.2 - LLVM versions 3.4 and 3.5 will not be available in the next Debian stable

[2016-02-01 18:46] msoos commented on #213
I'm sorry but have you tried compiling it with clang 3.6? What makes you think it doesn't compile? Please state the reasons. I am closing it in the meanwhile.

[2016-02-01 18:46] #213 closed

[2016-02-01 20:49] msoos commented on #209
No need for generating XOR clauses. CryptoMiniSat will automatically find XORs from the regular, normal CNF.

[2016-02-01 20:49] #209 closed

[2016-02-01 22:30] delcypher commented on #213
@mdimjasevic  What? STP does not depend on LLVM. We have a dependency on ``lit`` (from the LLVM project) for testing but that is not a runtime dependency. Even as a build time dependency you should be getting this from PyPi and not from LLVM

[2016-02-04 09:52] mchalupa opened #214 "compiler warnings - potential bugs"
Hi,

when compiling STP i get a lot of compiler warnings. Most of them are probably harmless, but I picked a few which could cause some troubles:

[code]

Cheers,
Marek

[2016-02-04 21:50] msoos commented on #214
Thanks! Rewrite rule gen is not being used at the moment and it should not be used by any regular user as it's only used for development. However, I encourage you to solve the above issues. Please clone the repository, fix the issues in your clone, then ask for the fixes to be merged through a pull request. Here is a short howto:

https://help.github.com/articles/using-pull-requests/

Thanks in ad

[2016-02-04 21:50] #214 closed

[2016-02-05 04:56] mdimjasevic commented on #213
Mea culpa.

I thought there would be problems as the LLVM API changes from one version to another.

@delcypher, you are right, LLVM is needed only for `lit`. As the STP package will eventually be built on the Debian project's server, in preparing build scripts I have to use the same kind of infrastructure, which means relying on LLVM packages available in the Debian archive only, and not in PyPi,

[2016-03-29 12:47] amgrubb opened #215 "SMT-LIB 2.0: declare-const"
I am getting an error whenever I declare a constant. For example:

=== File b.smt2 ===
(declare-const x (_ BitVec 64))
(declare-const y (_ BitVec 64))
(assert (= x y))
(check-sat)

=== Error ===
amgrubb@ubuntu:~/Documents/$ stp --SMTLIB2 b.smt2
syntax error: line 5
syntax error, unexpected STRING_TOK
  token: declare-const
Fatal Error:
stp: Error:

Is there a work around for constants?

Also, does

[2016-04-01 00:24] msoos commented on #215
All of 2.0 relevant to bitvectors with arrays is supported AFAIK. The `declare-const` is *not* part of the 2.0 standard. Please see http://smtlib.cs.uiowa.edu/papers/smt-lib-reference-v2.0-r12.09.09.pdf  It's only part of the 2.5 standard. However, if you could implement it, we'd be grateful. Please clone the repo, add it to the yacc language definition (`smt2.y`) and to the C++ code, and create a

[2016-04-01 00:24] #215 closed

[2016-04-25 02:37] songling opened #216 "Finding Multi-sulutions"
@msoos
I am using STP to solve some problems and I'd like to figure out the number of solutions. To this end, I let STP output the CNF file, and then use Cryptominisat to find up to M solutions. If M is large enough, I can get all of the solutions. For some problems, I found that the number of solutions Cryptominisat returns is larger than the number of solutions the problem actually has.

For exa

[2016-05-02 12:20] msoos commented on #216
Unfortunately, it's not correct to output the CNF and then try to solve that more than once. The outputted CNF may not encode the whole SMT formua. STP optimizes by not encoding everything until it's needed. Eventually, the CNF will contain all the SMT formula if needed, but that usually requires multiple iterations. As I described to you earlier, you must use either the SMT Lib interface or you m

[2016-05-07 05:25] UrsaEli opened #217 "How to link STP to cryptominisat instead of minisat?"
Hi Mate,

How do I compile STP and link it to cryptominisat instead of minisat?

[2016-05-07 11:11] msoos commented on #217
Just install cryptominisat and then build and install STP. It automatically links. Then the command line option for using cryptominisat appears.

[2016-05-07 11:11] #217 closed

[2016-05-25 13:51] ccadar opened #218 "Non-determinism in STP and C API"
Hi, we're trying to understand the sources of non-determinism in STP.  More exactly, is it enough to use the "--seed" option to get STP to execute deterministically on a certain query?

Related to this, there seems to be no C API for the "--seed" command-line option.  Would it be possible to add this?

(adding @andreamattavelli and @MartinNowack who are also interested in this issue)

Thanks!

[2016-05-25 14:08] rgov commented on #218
Do you want the same seed on multiple hosts (with potentially different architectures, operating systems, etc.) to result in identical behavior? Or just relative to one particular host?

[2016-05-25 14:43] MartinNowack commented on #218
Well, to be honest: same architecture, different OS versions would be great. In addition, eventually, also for different versions of STP (modulo fixed bugs) with same argument set.

Thanks a lot @rgov!

[2016-05-25 15:05] ccadar commented on #218
Thanks @rgov.  Indeed, ideally across OSes, but even on the same machine it's useful.  Essentially, we observed that both the counterexamples returned by STP and its execution time vary across runs (although for the execution time we'd need to double-check results), and we would like to control for this.  Just grepping through the code, I've seen several <code>srand</code> calls with a <code>time(

[2016-05-25 22:20] msoos commented on #218
Wow. This is _not_ good. It'd be good to have a specific SMT input that causes this. I can safely say that both MiniSat and CMS are fully deterministic. If you have an SMT input that demonstrates this, that'd be great. But I'll look into this. It should never be non-deterministic.

[2016-05-25 22:35] msoos commented on #218
So I removed the `--seed` option. It complicates code, doesn't do what it says on the lid ("randomise polarity" -- it doesn't do that _at all_ and it **picked a random seed value** for whatever reason), it's confusing, and it's not even used in case the SAT solver is not used -- which happens more often than most think.

Let me know if this breaks anything. I can revert this, though I think it's b

[2016-05-26 07:51] andreamattavelli commented on #218
@ccadar and I observed yesterday that it seems that MiniSat uses some sort of seed:

[code]
Is the `random_seed` in MiniSat actually used or not?

Yes, we do have some examples, you can find one exemplar query here: [all-queries.smt2](https://www.doc.ic.ac.uk/~amattave/unreleased/all-queries.smt2)
We obtained the following counterexamples on different dates (visually pretty prints):
[code]
As you

[2016-05-26 08:32] ccadar commented on #218
Thanks, @msoos .  For reference, the patch removing these options is  d804c9753971e.  Most likely there are other sources of non-determinism, but we'll try the latest version and let you know.

[2016-05-26 08:54] msoos commented on #218
Yeah that might happen :( But at least this way we will be sure it's not
some weird problem with that --seed and its usage.

Looking forward to inputs or even full KLEE runs that run
nondeterministically . I'll be happy to debug!

Mate
On 26 May 2016 09:32, "Cristian Cadar" <notifications@github.com> wrote:

[2016-05-26 15:40] MartinNowack commented on #218
I gave it a quick try. Cherry-picked https://github.com/stp/stp/commit/d804c9753971e7fee28aa502e22fa6de50280f94 on top of 2.1.2, still it gives me random results:
[code]
The 55 is happily shape shifting into different numbers ;)

The queries generated by KLEE are the same for different runs. The printed STP queries are the same as well.

Here is the SMT2 file
[stp.smt2.txt](https://github.com/stp/

[2016-05-26 20:52] msoos commented on #218
@andreamattavelli Thanks for the grep... I wrote CryptoMiniSat (>8000 commits) and I know MinSat inside out. A fixed seed will give you the same sequence of numbers all the time in a PRNG so there is nothing wrong with it per se. Note that almost all SAT solvers have random number generators in them, and running "--help" will allow you to set them.

I'm debugging this in STP but here is my issue.

[2016-05-31 07:01] humeafo opened #219 "static build still broken"
it seems that staticly linked the pthread library and results:
/usr/lib/gcc/x86_64-linux-gnu/4.8/../../../x86_64-linux-gnu/libpthread.a(nptl-init.o): In function `__pthread_initialize_minimal_internal':
/build/buildd/eglibc-2.19/nptl/nptl-init.c:285: undefined reference to `__libc_setup_tls'
/build/buildd/eglibc-2.19/nptl/nptl-init.c:303: undefined reference to `_dl_cpuclock_offset'
/build/buildd/

[2016-05-31 08:57] humeafo commented on #219
my system is ubuntu 14.04

[2016-05-31 18:14] msoos commented on #219
Well, let's start with the basics. I have ubuntu 14.04 so it should work :) First of all, please delete the "build" directory, then re-create it, and then:

[code]

And please give me the output of ALL of that, *everything*. So we can see what's going on. Also, please remove CryptoMiniSat (in case you have it installed). We can then debug :)

[2016-05-31 18:15] msoos commented on #219
OOOps, sorry, I had to edit the command above, please use the edited command :)

[2016-05-31 18:21] msoos commented on #218
Hi, @MartinNowack @ccadar could you take a look at my text above and see if that makes any sense? Could you tell me what should the correct solution be (I outlined some above)? Thanks!

[2016-05-31 23:15] MartinNowack commented on #218
@msoos: Please use PR https://github.com/klee/klee/pull/362 of KLEE and with the following command line arguments
[code]

Those are the arguments which I used for it.
Hope that helps, let me know if you need more.

[2016-05-31 23:53] msoos commented on #218
Thanks! I'll work on it tomorrow, 0:52am here today :) I'll get back to you about my assessment asap. Thanks for the example, should make it easier to track down. Cheers!

[2016-06-01 03:05] humeafo commented on #219
remove CryptoMiniSat  and use your commands worked:
cmake -DBUILD_STATIC_BIN=ON -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF   ..
make -j4 VERBOSE=1

but
cmake -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF   ..
make -j4 VERBOSE=1

still not work, I thought BUILD_SHARED_LIBS implies that BUILD_STATIC_BIN ON, but obviously this is not the case...

[2016-06-01 03:39] humeafo commented on #219
now I found the problem, when added CM back using build command:
cmake .. -DALSO_BUILD_STATIC_LIB=ON -DNOM4RI=ON

no problem, it seemed m4ri dynamic linked caused the failure...

BTW, I tried to built CM with:
cmake ..  -DNOM4RI=ON -DSTATICCOMPILE=ON

a bunch of errors occurred...maybe this should be discussed in CM issue list?

[2016-06-01 18:48] msoos commented on #219
I tested, and this:

[code]

works for cryptominisat. It doesn't build the cryptominisat4 binary, though, only the cryptominisat4_simple. I plan to remove the _simple though and get rid of the boost dependency. Sorry about it being broken in the meanwhile. The library does get built with _simple, though and it can be used in STP in full.

I gather that all the rest has been fixed :) The problem is

[2016-06-01 18:48] #219 closed

[2016-06-02 02:17] humeafo commented on #219
yes, waiting for your new version...

[2016-06-02 03:56] TrevorHansen opened #220 "Crashing at smtcomp2016"
STP with mult-threaded CMS has crashed on 28 benchmarks in one division.

https://www.starexec.org/starexec/secure/details/pairsInSpace.jsp?type=unknown&sid=560017&configid=158183&stagenum=1

The binary is here:
https://www.starexec.org/starexec/secure/details/solver.jsp?id=8120

Taking ndist.b.21497:
https://www.starexec.org/starexec/secure/details/benchmark.jsp?id=2977707

1) It runs properly on

[2016-06-02 18:58] MartinNowack opened #221 "Build fails with linking Cryptominisat library located in non-default directory"
The library gets found, still compilation fails:
[code]
And here it fails:
[code]

Interestingly, `minisat` is found correctly.
I guess the path to cryptominisat needs to be added as well.

[2016-06-02 22:40] msoos commented on #219
well, sorry, I am trying :) As always, all help is welcome! Nobody is paying me to do this, so I'm just doing this as much as I can after work :) New version will come soon, I promise!

[2016-06-02 23:32] msoos commented on #220
Crap, I have an idea. This is crazy, but I hate it. I use this:

[code]

Now the issue is that RUSAGE_THREAD is not available before kernel 2.6.26, which came out in 2009. Which may be running on StarExec. The old Scientific Linux in particular doesn't have it (2.4 kernel). It's _painful_.

Here is one compiled without RUSAGE_THREAD:

http://www.msoos.org/private/stp-2.1.2.gz

Can you please test

[2016-06-03 00:15] msoos commented on #221
Actually, lately I have changed things around for the SMT competition. I will update README this week so things work well. All in all, for STP to be compiled statically and for STP to create a static library, you need to compile cryptominisat statically. It will then work. I'll work a bit on this so it's all clear. But as I mentioned before, KLEE can always be built (just needs static CMS+STP), it

[2016-06-03 07:34] MartinNowack commented on #221
@msoos Thanks, a lot for the info. I'll try to compile it statically.

[2016-06-04 21:40] msoos commented on #220
I booted the OVA from starexec (took the stable, not the beta one), ran it like:

[code]

and it's still running. I am lost. The VM has 2GB of RAM and hasn't ran out of it (at ~32% mem use now, according to `top`). I have no idea what is going on and frankly, I'm a bit frustrated about this. I'd like to ask the organisers to give us at least some clue of what's going on. I cannot reproduce it, and

[2016-06-06 00:40] TrevorHansen commented on #220
This occurs when processing from a file CNF, so it's not STP related.

[2016-06-06 00:40] #220 closed

[2016-06-06 00:59] TrevorHansen opened #222 "Changing default solver to Cryptominisat"
Replacing Minisat with CMS as our default SAT solver seems sensible to me.

In the past I've been wary because the startup time of CMS was slower, so that on easy problems (i.e. when sat solving would finish in less than a couple of milliseconds), Minisat would outperform. CMS has fast startup now, so I think the issue has gone away.

Does anyone else have a preference?

[2016-06-06 01:02] msoos commented on #222
Could be nice :) I'd happy for that of course, I need to release the new CryptoMiniSat though. Let me do that this week and then I'm fine with switching. What do the others think? @delcypher @rgov ? I'd be happy to hear what you have to say!

[2016-06-06 01:07] rgov commented on #222
Both STP and MiniSat are MIT-licensed, while CryptoMiniSat is an optional LGPL3-licensed dependency. Would that remain the same? Would users be able to run a completely MIT-licensed solver?

[2016-06-06 23:07] msoos commented on #222
As a side-note, the constant bit propagation code is not MIT. It needs to be removed.

Since CryptoMiniSat is LGPLv2, and STP only uses CMS through its header (which is MIT), STP would stay MIT. It would use a library that is LGPLv2 though :S Note that glibc is LGPL too, so most deployments would not be affected, I think. There is a lot of LGPLv2 code on most OS x systems, too, I believe, and they

[2016-06-06 23:11] rgov commented on #222
Emphasis mine. I've had trouble getting approval to use LGPLv3 in commercial applications in the past. If it were LGPLv2 it would at least be easier.

[2016-06-06 23:24] msoos commented on #222
Wow, where is that? :D That is a mistake. I definitely want only LGPLv2. I know LGPLv3 is a mess. Thanks for finding that one! I need to fix it :)

[2016-06-06 23:54] TrevorHansen commented on #222
Thank everyone.

Changing to CMS being the default SAT solver requires a single line of code to be changed. Otherwise, the code is the same. Minisat can still be set as the SAT solver, by using the --minisat command-line flag (or similar) to STP. It sounds like people don't have a technical preference for keeping Minisat the default solver?

I'm the author of the constant bit propagation code, I c

[2016-06-06 23:55] TrevorHansen commented on #222
Ooops. I meant to say that you can't dynamically link the bit-vector library in..

[2016-06-08 05:36] TrevorHansen opened #223 "Change semantics of unsigned division by zero"
Unless anyone has objections, I'm going to change the semantics of unsigned division by zero to return  -1 (all ones). Currently, we return 1 for unsigned division by zero if the input language is SMTLIB or SMTLIB2, but not by default for the APIs or CVC.

Here's a related discussion.
http://www.cs.nyu.edu/pipermail/smt-lib/2015/000966.html

[2016-06-09 01:59] TrevorHansen commented on #223
Some background. In the distant past, STP only read CVC and had an API. I believe that neither defined the semantics of division-by-zero. SMTLIB1 defined the semantics as undefined, which was too painful to implement, so for SMTLIB1 & SMTLIB2 I arbitrarily defined division-by-zero to equal 1. Choosing this for division-by-zero, also defines what what signed-division-by-zero does.

To preserve back

[2016-06-09 04:07] TrevorHansen commented on #211
As per #223 , this no longer crashes, but dividing by zero might not behave like you expect.

[2016-06-09 04:07] #211 closed

[2016-06-09 04:25] TrevorHansen commented on #206
As per #223, it crashed via the API, but not via SMTLIB2 format because division-by-zero was previously handled differently in each. It won't crash now, but might not do what you expect..

[2016-06-09 04:28] TrevorHansen commented on #106
As per #223, this no longer crashes, but might not do what you expect.

[2016-06-09 04:28] #106 closed

[2016-06-09 07:37] msoos commented on #223
Wow thanks for that work! The biggest pain I had was that the constant bit
propagation was exiting out on div by 0 and even if the constant value was
not used for anything meaningful, it still propagated it hence crashing.
Thanks for fixing that up!
On 9 Jun 2016 02:59, "TrevorHansen" <notifications@github.com> wrote:

[2016-06-09 20:18] msoos commented on #206
@ccadar sometimes, KLEE cannot check on the divisons, because it takes complicated reasoning to find out that the division is a division by zero. This is what happened above. As per @TrevorHansen 's comment, things will be the same, and it won't "crash" (assert fail), but it will return -1 on such operations (all zero bits), which may not be how e.g. C interprets it (e.g. C might send a signal for

[2016-06-10 00:31] TrevorHansen commented on #206
Clarifying, as per #223, unsigned division by zero will evaluate to 1 for now (irrespective of input language). Later, when the SMTLIB semantics are changed, we'll alter it to match them.

[2016-06-10 07:40] ccadar commented on #206
Hi @msoos , @TrevorHansen , thanks for the update.  I don't think the problem is that KLEE cannot check divisions -- every time it constructs a division operation, it does just that.  From what I can see from #211 , where one simply adds the constraints x != 0 and uses x in a division/modulo operation, STP can try the value of 0 and run into a division by 0 (although the overall constraints do not

[2016-06-11 13:02] msoos commented on #206
Hmmm... this needs further investigation. I will have more time from now on to work on STP, so hopefully I'll be able to figure out what is going on. Thanks for the report and that clue about x != 0.

[2016-06-11 21:05] msoos commented on #223
Yeah, please do turn it into -1 and then we can close this issue for good! :)

[2016-06-11 21:09] #221 closed

[2016-06-11 21:14] msoos commented on #121
Actually, I want to crash the calling process now. If they sent us invalid data, we are not responsible for not crashing them. Also, if we reached an invalid state, we should crash so the error can be reported, rather than "letting" (i.e. forcing) the user to figure out that it's not their fault, it's ours. So I'd like to simply ``release_assert(false);`` where ``release_assert`` is an assert that

[2016-06-11 21:21] msoos commented on #206
@ccadar to me it seems that the semantics have now been fixed you won't get the issue as per above. I suggest you to re-open this issue in case we can find an issue where STP is crashing when used from the C interface. We can then debug and fix it using the (much easier) SMT2 interface, since the two are now equivalent. I hope everything is fixed now, as per Trevor's comment. If you properly guard

[2016-06-11 21:21] #206 closed

[2016-06-11 21:23] msoos commented on #222
@TrevorHansen  I was talking about constantbv.cpp:

[code]

[2016-06-13 10:37] TrevorHansen commented on #223
Hiya Mate, my reading is that the change to the hasn't been confirmed yet. Because signed division is defined in terms of unsigned division, we need to change signed-division-by-zero too. I'm not sure what the signed-division-by-zero semantics will be, so was thinking of waiting until it was confirmed..

[2016-06-24 13:25] ccadar opened #224 "Build problems"
Hi, first of all I noticed that the TravisCI build is not working anymore, why is that?

The current version of STP fails to build on my Ubuntu 14.04 machine.  I haven't investigated the causes yet, but here is the error message I receive.  I am wondering if this is a known issue.  Thanks!

[code]

[2016-06-24 17:03] msoos commented on #224
Hi Cristian,

Forst of all thanks for the detailed report and sorry for the
inconvenience. I'll get back to you tomorrow. Build should work, it was
just a failure of llvm source location and signing key that killed
TravisCI. I'll fix that. I suspect there is an issue with pthread linking,
it should be easy to fix, it works on my Ubuntu 14.04 so fix will ne easy.
Some install/build notes need updat

[2016-06-25 14:28] n1k55 commented on #224
Hello,

I am having the same issue on my Linux Mint 17.3 box. Bisecting shows, that the issue seems to be introduced by [bfd0a639f577937ee3ebfaa1ab5cbda577d76706](https://github.com/stp/stp/commit/bfd0a639f577937ee3ebfaa1ab5cbda577d76706) with [670aee22d916b2ffa260684981d2395e897be8e7](https://github.com/stp/stp/commit/670aee22d916b2ffa260684981d2395e897be8e7) linking fine.

[2016-06-25 14:43] andreamattavelli commented on #224
`-lpthread` in [CMakelist.txt:128](https://github.com/stp/stp/blob/master/CMakeLists.txt#L128) is the source of the issue. As far as I understood libc is linked dynamically while pthread statically (or vice versa).

[2016-06-26 23:53] msoos commented on #224
Hi All!

I have tested and things should work. Please follow the guide I put into INSTALL.md. The TravisCI should also work from now on (fixed location of PGP key).

The point is that static and binary building have changed. You need a static library. So you need to:

* statically build cryptominisat. This means deleting the "build" directory, then doing "cmake -DSTATICCOMPILE=ON .."

[2016-06-27 00:35] msoos commented on #224
(sorry, previous update went haywire). I have fixed&tested and things should now work. Please follow the guide I put into INSTALL.md. The TravisCI is also working, it's green now, building KLEE with STP and CryptoMiniSat4.

The static and binary building have changed. You need a static library for KLEE. So you need to:

* statically build CryptoMiniSat4. This means re-pulling, deleting the "build"

[2016-06-27 17:51] ccadar commented on #224
Thanks, @msoos !  It works now, and we just need to update the instructions at http://klee.github.io/build-stp/.  Great to have TravisCI back again.

[2016-06-27 17:54] #224 closed

[2016-06-27 17:59] ccadar opened #225 "New release request"
Hi, the latest STP release is quite old, from 28 October 2015, and I would like to use a recent STP release for KLEE (in particular one that incorporates the fix for the division by zero issues I reported in #206) .  Would that be possible?  Thanks!

[2016-06-28 18:46] msoos commented on #225
Good point! Since we got 2nd place this year at SMT Comp, we should do a new release. I'll be doing that for both CMS and STP this week. I have a presentation to give about CMS next Monday so I need to get a release out of the door anyway :)

PS: Link to results page http://smtcomp.sourceforge.net/2016/results-QF_BV.shtml?v=1467112059 Only Boolector got more "Correctly Solved Score"

[2016-06-28 20:45] ccadar commented on #225
Congrats for the SMT-COMP results!!  And thanks for preparing the upcoming release.

[2016-06-28 21:58] msoos commented on #223
Well. Currently, it's undefined in the SMT definition. So If we define it to be -1, it's according to def (i.e. it's undefined so we can make it anything, in this case, -1). I think it's worse not having it defined than having it defined -1. With -1 I can write tests, STP can be tested to be at least deterministic and non-assert-failing/segfaulting/etc. Otherwise, we'll have this thing that makes

[2016-06-29 00:12] TrevorHansen commented on #223
Hiya Mate, as of a couple of weeks ago, division by zero evaluates to 1. So it should be deterministic (and never crash) now.

What they mean in the specification by undefined is that it can evaluate to anything, but functional congruence (i.e. same arguments evaluate to same result) applies. So with current SMTLLIB undefined semantics:  (2/0 = 5) must evaluate to satisfiable. So it's not correct,

[2016-06-29 20:08] msoos commented on #223
"We do it anyway though, because doing undefined is a pain" -> yes to that. I won't do any undefined crap, I'm on with you 100%. Yeah, let's wait until semantics are defined. Until then, I'm all good with the solution we have here.

I think we can close this? I'm closing and we can open another one when things get defined. I don't want this issue on the list: we are blocked by others to fix things

[2016-07-11 22:15] msoos commented on #222
Should we leave things as it is for the moment? There seems to be no consensus. MIT vs LGPLv2 may be an issue. Let me leave this as it is. Maybe next version we move to the CryptoMiniSat!

[2016-07-11 22:59] msoos commented on #225
Hi! I released CryptoMiniSat 5.0. I am now preparing to release STP. Please let me know if the current system is OK for your needs. It should work, I believe, TravisCI is just about to pass. Please take a peek. I will release this week if all is fine.

Thanks!

Mate

[2016-07-12 03:19] TrevorHansen commented on #222
I'm good to make the change. Based on the discussion, it seems best to make Cryptominisat the default if Cryptominisat has been enabled, otherwise use Minisat as the default. Unless anyone objects, I'll make the change in the next week.

[2016-07-12 07:39] msoos commented on #222
Okay, that sounds really reasonable actually! I'll release after you make
the change :) Is that OK everyone? @rgov @delcypher?  ?

On 12 Jul 2016 04:19, "TrevorHansen" <notifications@github.com> wrote:

[2016-07-12 22:48] #216 closed

[2016-07-12 22:49] #145 closed

[2016-07-12 22:53] msoos commented on #121
OK, the calling process will now be assert-failed if if does an incorrect API call -- and later we can replace that with a throw() so it can be caught. I want to really take STP under my wings and do some important changes so we can create a new API that will have a backwards-compatible converter API wrapper for the old interface. We need to make some "though" choices or STP will stagnate :S I hop

[2016-07-12 22:53] #121 closed

[2016-07-12 22:57] msoos opened #226 "Using C++11"
Hi All,

Would it be OK to use C++11 in STP? It would make compilation a lot easier (types and datastructures that we now hack around/test for availability at build config time). All meaningful C++ compilers now have C++11 support. I only plan to utilise a small subset, such as the new for loop construct, cstdint and value-initialised class members (e.g. `int a = 2;` in a struct). Would this be OK

[2016-07-12 23:30] rgov commented on #226
No objection from me.

[2016-07-13 00:42] delcypher commented on #226
SGTM

[2016-07-13 00:58] delcypher commented on #121
@msoos
The original reason for wanting STP to not crash is so that we could do better API testing in the GoogleTest framework. I wasn't aware of ["death tests"](https://github.com/google/googletest/blob/master/googletest/docs/AdvancedGuide.md#death-tests) at the time but I think these could be used to test failing ``release_assert(...)`` failures so I guess this change is okay.

[2016-07-13 04:56] TrevorHansen commented on #212
All good as of 54d40c621cbadda291fd50edaccb4a5058534f72

[2016-07-13 04:56] #212 closed

[2016-07-13 05:11] TrevorHansen commented on #97
This is fixed in e5f0ddeae9faf1c7c27b9559bc7a4e1e5d1d39c0

[2016-07-13 05:11] #97 closed

[2016-07-13 05:12] TrevorHansen commented on #97
oops. actually in 54d40c621cbadda291fd50edaccb4a5058534f72

[2016-07-13 05:41] TrevorHansen commented on #189
As of Austin's commit: ba6a59be21f3f491458c85aa164cddf78b08e17d this can be done as per https://github.com/stp/stp/issues/189#issuecomment-115047061

[2016-07-13 05:41] #189 closed

[2016-07-13 07:01] TrevorHansen commented on #178
I've had a first go of implementing this in b1bf8d04ecf033d0d89e03f815ee7e20a7a3d679

[2016-07-13 20:04] hellovijay commented on #226
Fine by me.

-Vijay Ganesh.

On Tue, Jul 12, 2016 at 6:57 PM, Mate Soos <notifications@github.com> wrote:

[2016-07-15 04:22] TrevorHansen commented on #151
d9224937d4f4521250a3ce8f5535cd918fc85940 introduces partial support for get-value (just for bitvector and boolean variables) so:

(set-logic QF_BV)
(declare-fun B0 () (_ BitVec 32))
(declare-fun B1 () (_ BitVec 32))
(declare-fun C1 () (_ BitVec 32))
(declare-fun D () Bool )
(assert (= C1 (bvadd B0 B1)))
(assert (= C1 (bvsub B0 B1)))
(check-sat)
(get-value (C1 D))

will produce:

sat
(
( |C1| (_ bv

[2016-07-15 04:44] TrevorHansen commented on #226
Seems unobjectionable to me to!

[2016-07-15 04:44] #226 closed

[2016-07-15 04:44] TrevorHansen opened #227 "clang testing in travisCI"
Does anyone know what's stopping us running clang on travisCI?

[2016-07-15 04:48] #178 closed

[2016-07-15 06:44] msoos commented on #151
Wow, great work!

[2016-07-15 06:45] TrevorHansen commented on #159
I've made the changes to STP's code needed to remove the internal copy of ABC.

I've not made the changes needed to STP's build system.

It sounds like people think it's best to rely on packages to provide abc to us (e.g. the berkeley-abc package on Ubuntu).

I'm rubbish with the build system. Does anyone have spare time to work with me to get it building with external abc?

[2016-07-15 06:46] msoos commented on #227
Nothing at all, except TravisCI has an older clang in the current config (12.04). Moving to the newer TraviCI (14.04) could solve it, or, I could copy-paste what I have in CryptoMiniSat which install clang to 12.04. I'll look into this in the weekend. Note that the KLEE test for TravisCI already installs clang so we could use that to :)

[2016-07-15 07:30] msoos commented on #159
Wow! Sure, that's the easy part :)) I'll do that this Sunday!

On 15 Jul 2016 7:45 a.m., "TrevorHansen" <notifications@github.com> wrote:

[2016-07-15 12:16] TrevorHansen commented on #159
Thanks Mate,

I've submitted the changes in the extabc_trevor branch.

I've hardcoded the paths to suit my machine. One path is for the source code - from which we use headers. The library is the other.

We don't use cutting-edge features (as evidenced by using a >4 year old ABC as of now). So the library package seems a reasonable choice to me. E.g:
https://launchpad.net/ubuntu/+source/berkeley-a

[2016-07-17 11:57] msoos commented on #225
Hi All,

I drafted a new release for the point where Trevor started hacking adding SMT-LIB 2.5 and removing libabc from the source -- these are big changes (and are **very** welcome) but I want to release a stable release. I have drafted a new release here:

https://github.com/stp/stp/releases/tag/stp-2.2.0

Please take a look, edit as appropriate, etc. @delcypher  @TrevorHansen @rgov

Looking for

[2016-07-17 13:42] ccadar commented on #225
Hi @msoos, many thanks for your work on this!  I am traveling and don't have time to test this right now, but I'll try to take a look later next week.

[2016-07-17 23:28] msoos commented on #159
OK, I'm in contact with Alan about the install for libabc. It seems that only the cmake system has proper install, but that's way too new, even Debian Jessie doesn't have support for it, as it requires cmake 3.3.0. Without proper install for libabc for lower cmake versions, depending on libabc will be prohibitive. The only construct used from 3.3.0 is pretty avoidable, though, so I'm trying to con

[2016-07-18 01:42] TrevorHansen commented on #188
This is fixed in 68ea62c

[2016-07-18 01:42] #188 closed

[2016-07-18 03:32] TrevorHansen commented on #222
ok, done in 41b9d44b6a4550fcc1dd7462b138c01d8db03d31

[2016-07-18 03:32] #222 closed

[2016-07-18 04:26] TrevorHansen commented on #225
yes @msoos, ok with me.

[2016-07-19 01:52] #134 closed

[2016-07-19 20:42] msoos commented on #134
Wow, thanks!

[2016-07-20 00:03] #59 closed

[2016-07-20 00:09] TrevorHansen commented on #208
We've changed unsigned division by zero to equal 1 now, so both the CVC and SMTLIB2 formats will produce the same answer of x =5, y=0, now.

[2016-07-20 00:09] #208 closed

[2016-07-20 23:33] msoos commented on #208
Thanks Trevor! This division by zero was a huge pain for a lot of users, I'm so glad you fixed it!

[2016-07-21 22:18] msoos commented on #225
OK, I've released it. Only change I had to make was to fix the version to 2.2.0 in the CMakeLists.txt.

The release contains a 64b linux static executable, which is nice to have. The only itch I have is that I haven't fixed the Windows compile on AppVeyor and so I cannot attach a Windows executable. I want to do that soon, though.

Please write a feedback here once you can test it. It will need to

[2016-07-21 22:18] #225 closed

[2016-07-22 08:43] ccadar commented on #225
Thanks, @msoos!  I'll let you know if we run into any issues with KLEE.

[2016-07-24 10:44] TrevorHansen commented on #129
I've cleaned up the development tools a little in 87f1a8794e476ac897aa0f41b30219eab22c27c0

We used to have a minisat function that just did propagation (with search disabled), I've got to simulate that before the "measure" tool works again.

I see that the header files for the development tools are in the include directory. What's the rationale for the include directory? If it's to make it easier

[2016-07-24 11:02] msoos commented on #129
Thanks! By the way I worked pretty hard back in the day on making them
compile and not give tons of warnings. And yes, I'd love it if you could
move those header files back. Also, I would be very much in favour of not
having capital letters in filenames. The latter maybe just my pet peeve
though :)

On 24 Jul 2016 11:44, "TrevorHansen" <notifications@github.com> wrote:

I've cleaned up the develop

[2016-07-24 18:06] delcypher commented on #129
@TrevorHansen

There are several reasons to have a `include/stp/<module_name>` and `lib/<module_name>` layout

* It means that the compiler only needs to be told about two include paths `src_dir/include` and `build_dir/include`.

* It encourages and allows a library based design where the code in `tools/<tool_name>` just calls in libraries to do the heavy lifting. A library based design makes it e

[2016-07-25 02:20] TrevorHansen commented on #129
Thanks for explaining @delcypher ! I'll check each of the header files.

I'm having trouble getting the "measure" tool to work properly. It needs to call a SAT solver with assumptions and do propagation only. That is, not do any search. It then needs to read out the assignments, not the model (because it doesn't assign to variables that aren't propagated).  I use the tool to measure how much help

[2016-07-26 09:22] msoos commented on #129
Hi all! Okay, sure, I understand @delcypher 's rationale, though I have
different preferences to LLVM, but I'll take this as an opportunity to
learn :) As for that MiniSat thing, it no longer works for the newer
MiniSat. I can put that together for CMS though, adding it to the public
interface. May actually be useful for others too. I'll get down to doing
that in the coming days.

On 25 Jul 2016 3

[2016-08-02 14:27] MartinNowack commented on #218
Hi @msoos I could reduce the problem to stp and make it for you reproducible without KLEE:

After a lot of trial and error, my theory was that the generated model depends somehow on the memory allocated, which would explain why you can't reproduce it with just calling `stp` in a loop, as the KLEE memory footprint might change much more than with stp.

And yes, indeed it is! With the following proo

[2016-08-02 23:30] msoos commented on #218
Well, that's interesting. I think we need to go into the valgrind issues that are continuously highlighted (e.g. by fuzzing). I would like to note that I didn't write STP and CryptoMiniSat has absolutely none of that. It's valgrind-clean and clang asan/msan/isan clean, etc. So, once STP gets there, it will not have this issue, either. I think this is a very good issue, though, as it highlights the

[2016-08-02 23:31] msoos commented on #218
Thanks again! I'll update this issue once I got to the bottom of this!

[2016-08-03 07:16] MartinNowack commented on #218
@msoos Thanks for all your effort! Also your *san-free effort.
According to one valgrind issue, I tracked that one down with the PR #229 some time ago, still it doesn't solve our problem. Just to save you some effort.

Thanks again!

[2016-08-03 21:53] msoos commented on #218
Hah, this was it! I have been running the fuzzer with valgrind on for a while now, and nothing came up. Amazing! I'm closing this because it's now fixed from an internal perspective. We could still cache queries' answers, but that's another thread :) Thanks so much for chasing this!

[2016-08-03 21:59] MartinNowack commented on #218
@msoos: Well, sorry, the valgrind issue is fixed but not our original issue ;)
We still have the problem that it generates different models depending on the allocation around it.
So it makes it quite nondeterministic.

Try with the patch from https://github.com/stp/stp/issues/218#issuecomment-236921472 and without and you'll see what I mean. And caching would not help us in that case.

[2016-08-04 13:18] chadbrewbaker opened #230 "Compile error on OSX"
Setup is:

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
Apple LLVM version 7.3.0 (clang-703.0.31)
------
[code]

[2016-08-04 18:37] msoos commented on #218
Well, you mean that the way the SMT/CVC input looks, it generates a different solution? If you think about it, there is very little one can do to fix that. The only reliable way to fix that would be to give you e.g. a solution that is minimal in 0s and has the minimal value representation when taken as a number -- or the maximum, or some other optimization criteria. That is possible, however, it w

[2016-08-04 18:45] #230 closed

[2016-08-04 18:46] msoos commented on #230
Thanks for the bugreport! I hope this fixes it :) Please open another one in case there is something else.

Thanks again,

Mate

[2016-08-04 20:28] ccadar commented on #218
Hi @msoos , just to make sure that we are on the same page with @MartinNowack 's example.  We are talking about:
(1) The same query given in one file F
(2) Two different versions of STP, let's call them v1 and v2, the only difference being an extra memory allocation in v2
(3) v1 and v2 give different counterexamples for this very same query file F

Thus we're not talking about different representa

[2016-08-05 00:05] msoos commented on #218
Hi,

Ah, okay, I can investigate that! It's weird, that memory location makes difference.  Note that STP state can actually make a difference at that might be normal. But pure memory allocation around it should not make a difference. I'll investigate, thank you!

Mate

[2016-08-12 11:01] RobinDavid opened #232 "syntax error "unexpected RPAREN_TOK""
Hi all,

I am trying to solve formulas with STP, but I am encountering issues manipulating arrays. The code snippet is the following:

[code]

I raises: `(error "syntax error: line 6 syntax error, unexpected RPAREN_TOK, expecting end of file or LPAREN_TOK  token: )")`

I am probably doing it wrong with the `define-fun`, but it works perfectly fine with the other solvers I have tried. I guess you c

[2016-08-12 21:21] msoos commented on #232
Well, it complains about line 5. That line has a bit too many `)`, right?

[code]

That should fix the issue.

[2016-08-12 21:30] RobinDavid commented on #232
Sorry, I did a typo will writing the snippet but the issue is still there even without the ")" :cry:

[2016-08-15 00:48] TrevorHansen commented on #232
I've changed it so that we parse these now, and report "unsupported".

I don't know whether we can support array define-functions. At the moment we don't have extensionality, which we might need to support these? I don't know.

[2016-08-15 07:39] RobinDavid commented on #232
Thank's for the changing, this is way more explicit now!

I didn't knew it was extensionality. I don't want to give you a work overload, but that would be cool :wink: (to include stp in some of my benchmarks)
As far as I know Z3, boolector, CV4 and Yices support array as return type of define-function but for instance boolector does not support array as parameter of define-funs.

[2016-08-17 08:14] pascaljung opened #233 "Option "-z [ --print-varorder ] Print SAT variable order" not working"
The -z Option to see the variable order when generating a CNF output is not working for me. None of the output changes, neither in the cnf file nor in the standard output.

[2016-08-17 22:12] msoos commented on #233
I think it got deprecated. Can you please tell me what it was supposed to print exactly?

[2016-08-18 07:55] pascaljung commented on #233
I was hoping to get a hint on how to map the CNF output variables (--output-CNF) to the variables I fed into STP.

For example, if I define 3 bit vector variables in CVC:

x, y, z: BITVECTOR(4);

and let STP convert my assertions into CNF, then I don't know how to interpret the output that STP generates to know which variable in CNF is assigned to which CVC variable. I need this, because I need to

[2016-08-18 19:18] msoos commented on #233
Ah, this is an issue that has been around. So the issue here is that STP does abstraction-refinement. So you don't know if the CNF is matching your problem, as some parts of the problem may not be in the CNF. If you now try to find all the solutions, it will find bogus solutions.

There are two ways of addressing this:

1) Force full refinement, output CNF with all variables inside, output mapping

[2016-08-19 04:58] TrevorHansen commented on #233
STP does some simplifications which preserve satisfiability, but not the number of solutions. Unconstrained variable elimination & polarity analysis come to mind, no doubt there's others too. So the CNF that STP generates might have fewer solutions that than bit-vector problem you give it. If people want to do sharp-SAT (#SAT), we'd need to turn some simplifications off. It's not something I've go

[2016-08-21 10:55] msoos commented on #233
@TrevorHansen the thing is, there is potentially *huge* interest for this. I mean, there is actual money to be made. The approximate solution counter ApproxMC and ScalMC, which uses CryptoMiniSat, has attracted quite a bit of attention. It counts solutions approximately by adding random XORs over the independent variables until there is no solution left. There are theoretical guarantees that this

[2016-08-21 10:58] msoos commented on #233
IJCAI-16 (i.e. just a few weeks ago): http://www.ijcai.org/Proceedings/16/Papers/503.pdf Just look at the sponsor list... http://ijcai-16.org/index.php/welcome/view/home

[2016-08-25 03:54] TrevorHansen commented on #233
Thanks for explaining @msoos.

It sounds like we need two things to use STP for solution counting:
1) We need STP to not alter the number of solutions.
2) We need to output somehow which input variables are/aren't in the CNF that STP creates.

Disabling all the simplifications sounds the easiest way, we have some command line flags which are supposed to do that already. It'd be nice to automatical

[2016-08-31 11:25] pascaljung commented on #233
I just tried the "--disable-simplify" command line flag, but the generated CNF did not change (the solution count output of cryptominisat did not fit my given problem either). Am I doing something wrong or is that option deprecated as well?

[2016-09-13 05:18] TrevorHansen commented on #227
hi @msoos, I'd like to do a static clang build on travis ci. I've got it going partway, but cmake seems to be putting in dynamic linker flags (even though I've asked for static). See:

https://travis-ci.org/stp/stp/jobs/159495750

Do you see what's wrong?

[2016-09-13 17:34] msoos commented on #227
Sorry, I am currently very busy in many ways, and will not be able to participate in STP or CryptoMiniSat for a few months. I should be back afterwards :) Good luck and sorry again!

[2016-10-07 10:48] dtzWill opened #235 "cppinterface missing dependency on ASTKind.h"
This occasionally causes the following build error for me (when building in parallel):

[code]

Looking at [this CMakeLists.txt file](https://github.com/stp/stp/blob/master/lib/Interface/CMakeLists.txt#L31), it seems there's a missing dependency on `ASTKind.h` that would be resolved by adding the following:

[code]

(similar to the existing dependency on the header from `cinterface`).

If you agre

[2016-10-13 18:03] colinmorris opened #236 "Documentation dead links"
The link to the longer description of the SMT language [on this page](http://stp.github.io/smt-input-language/) is a 404: [http://www.grammatech.com/resource/smt/SMTLIBTutorial.pdf](http://www.grammatech.com/resource/smt/SMTLIBTutorial.pdf)

Also, the [documentation link](https://github.com/stp/stp/wiki) in the README just takes me to the main github project page again. Seems like the wiki doesn't

[2016-10-22 10:26] msoos commented on #236
Sorry, currently, I have no time to fix this :S Maybe in a couple of months. I know it's slow, but I am very busy right now :(

[2016-10-24 14:29] hoangmle opened #239 "exprString() is broken"
The following code produces a segfault with STP https://github.com/stp/stp/commit/5ade2ef458ad00a912c80b41ff8ea94764e37edd

[code]

[2016-10-28 00:15] TrevorHansen commented on #239
Thanks. Fixed in 6bf011be44e0f66c55191dd213ad42e658732aa0

[2016-10-28 00:15] #239 closed

[2016-11-05 11:22] TrevorHansen commented on #235
Thanks @dtzWill I've seen this too, but thought I was the only one who was getting it! I don't have much experience with the build system, but what you propose fixes it for me, too. thanks again, trev.

[2016-11-05 11:22] #235 closed

[2016-11-07 22:00] smcc commented on #233
The biggest problem with the --disable-simplifications/--disable-simplify option was just a typographic one: the option parsing code and the option-applying code differed in the name of the option, making it a no-op. This was fixed, standardizing on the longer name, in a recent commit:

  https://github.com/stp/stp/commit/6a7151be57adb7272e69ff732b2eabda2416ba3a

We (student Seonmo Kim and I) noti

[2016-12-08 15:09] belyaev-mikhail opened #240 "Usage through C API broken?"
Hello, guys. We are considering adding STP as one of solvers for our BMC tool, and I recently had a hard time running even simple examples with the C API of certain form.

This is the simplest example I got and it fails with a segmentation fault:

[code]

Note: your C API example from examples/simple/example.c **does** work, so it's not an incorrect install issue.
In other cases I got strange erro

[2016-12-08 15:11] belyaev-mikhail commented on #240
Here is a gdb backtrace if this helps:
[code]

[2016-12-09 03:35] TrevorHansen commented on #240
Hi, equals doesn't work on booleans, try iff instead and it should work.

STP's c-api is a pain to use, no one likes it, but we've not found the time to develop a new one.

Maybe an abstraction layer, like metaSMT's might be good?

Trev.

[2016-12-09 08:03] belyaev-mikhail commented on #240
Oh, I get it now. So `iff` instead of `=` for booleans, and, I guess `xor` instead of `!=`?)
Anyway, it shouldn't crash with segfault, that's for sure.

We have our own abstraction layer, less versatile than metaSMT, but zero overhead and having features we need. Unfortunately, to achieve this we need to implement every solver through C or C++ API.
We already have Z3, CVC4, MathSAT and Boolector.

[2016-12-16 15:50] 0-14N opened #241 "vc_printSMTLIB print out nothing"
Hey, I tried using "vc_printSMTLIB" to print out expressions, but got nothing.
Any suggestions on this error? Thanks.

[2016-12-16 15:58] 0-14N commented on #241
I got it.

[2016-12-16 15:58] #241 closed

[2016-12-16 16:55] 0-14N opened #242 "Save the whole context to smt file?"
Hey, this question maybe stupid, but I am wondering is this possible to dump the current context (i.e., decls, expressions) into a smt file, so that it can be loaded later?
Thanks!

[2016-12-18 12:14] msoos commented on #242
Unfortunately, no. There is a lot going under the hood and dumping that would take about a year or more of work :(

[2016-12-18 12:14] #242 closed

[2017-01-30 20:48] msoos commented on #236
Thanks! Both have been fixed.

[2017-01-30 20:48] #236 closed

[2017-01-30 20:49] msoos commented on #232
Yeah, that would be a different issue, arrays. I'll close this. Unfortunately, there is no plan for that at the moment. Maybe later, or maybe if you could work a bit on it, we could potentially take it from there. It'd be great to have someone hack a bit :) Until then, let me close this issue, as that's another issue (a feature request). Cheers and thanks for getting back to us!

[2017-01-30 20:49] #232 closed

[2017-01-31 11:30] ziqiaozhou opened #243 "Equivalent convertion to CNF(not only equisatisfiable)"
I try to convert .smt2 to .cnf using --output-CNF --disable-simplifications, but I finally found they are equisatisfiable but not equivalent . Is there any way to convert .smt2 to equivalent cnf?

[2017-01-31 13:06] #243 closed

[2017-04-04 19:52] Robbepop opened #244 "redundant redeclaration of vc_bv32ConstExprFromInt in c_interface.h"
Building STP with GCC 6.3 reports the following error:

[code]

[2017-04-04 23:24] msoos commented on #244
Thanks, fixed!

[2017-04-04 23:24] #244 closed

[2017-04-04 23:34] msoos commented on #244
You pushed me to commit a bunch of fixes I have been having around :) Thanks!

[2017-04-19 23:57] msoos opened #247 "Fix AppVeyor"
Apparently it's not that difficult.

Pull request discussion here: https://github.com/stp/stp/pull/246

Copy from thread:

---------------
@fkutzner wrote:

Building it isn't entirely untethered from POSIX yet:

cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_INSTALL_PREFIX=<InstallPath> -DCMAKE_PREFIX_PATH=<PathToMinisatAndZlibInstallation>;<PathOfCygwinRootDir> -DMINISAT_LIBRARY=<pathOfMinisat.li

[2017-04-23 12:03] fkutzner commented on #247
(Moved this comment from the discussion in #246)

I've looked through the AppVeyor file - does AppVeyor bring perl, flex and bison? I use these tools from my Cygwin installation. Also, a Python installation outside of Cygwin is needed. I've got the automated tests up and running (see https://github.com/fkutzner/stp/tree/win64dll), and needed to adjust the CMake parameters by passing -DPYTHON_EXECU

[2017-04-23 15:07] msoos commented on #247
Hi! I'm glad you managed to get all of those running :) It'd be nice if you could write down what were the steps, though! I don't have a Windows box, so I need AppVeyor and it's slower this way. The thing is, I am not being paid to do this, and I don't have windows, so I'd need to buy it and that's not cheap :S So just a set of steps would be really nice. Like, cygwin, what you need installed insi

[2017-04-23 15:28] msoos commented on #247
Well, I guess MiniSat is fixed now:

https://ci.appveyor.com/project/msoos/minisat

But I actually had to change the code. Weird, I thought minisat would just run out of the box. Anyway, now on to STP :)

[2017-04-23 15:31] fkutzner commented on #247
Sorry, I did not mean to be so terse - I'll write a batch script with all the details to make up for it!

[2017-04-23 17:50] fkutzner commented on #247
Here's the Windows batch script: https://gist.github.com/fkutzner/d990ca73ac3e813717529059518db9f3

The script installs Cygwin locally (including flex, bison and perl), fetches the zlib,minisat,stp sources and builds them. Unfortunately, it isn't completely automatic yet: the Cygwin installer (https://cygwin.com/setup-x86.exe) and embeddable Python (https://www.python.org/ftp/python/3.6.1/python-3

[2017-04-23 19:18] msoos commented on #247
Wow, it's starting to compile! Weird, unexpected and great! The log is MASSSSSIVE though :) I have a feeling I'll be working through that most of today ;) Thanks for your gist, it *really* helped. I owe you a beer!

[2017-04-23 19:55] msoos commented on #247
A few warnings to fix :)

[code]

The only error is zlib, which should easy to fix:

[code]

So, good progress, but those 60k warnings need to go :O Thanks again!

[2017-04-23 20:03] fkutzner commented on #247
Being one of the few MSVC users, I think I owe you a whole case of beer :D Thanks for setting this up! I've been playing around with the CI system, and added a native Python installation via CMake parameters (see last commits on https://github.com/fkutzner/stp/tree/win64dll_appveyor) - there's trouble finding zlib.h, but compilation is well underway. I've put the zlib install directory in STP's CM

[2017-04-23 20:54] msoos commented on #247
Build succeeded :)

https://ci.appveyor.com/project/msoos/stp/history

Thanks! I'll look through your commits, see what I can use :)

[2017-04-24 22:58] msoos commented on #247
Hey! So I've made a lot of progress on the visibility/hidden issue. I just pushed, if you pull, normal visibility (as enforced by VC normally) should _almost_ work. Can you take a peek if you can fix the remaining issues? Some are caused by flex/bison-generated files and some from some vtable-based issue. I'm a bit confused about the Windows flags you put in, but I hope you can remove the one that

[2017-04-25 00:15] TrevorHansen commented on #223
The semantics for division & remainder by zero are about to be changed. I've started to implement the changed semantics. Relevant discussion is here:

http://www.cs.nyu.edu/pipermail/smt-lib/2017/001148.html

[2017-04-25 01:41] TrevorHansen commented on #223
I've checked in a first version ( 34d453f71947c208315d555a4c9b64d2776ee61a ). I'll leave this case open until I've tested it properly.

[2017-04-25 09:48] Robbepop opened #248 "Newest build broken because of missing import Util/constants.h"
Building STP is currently broken for me compiling with GCC 6.3 with the following error:

[code]

I tried to fix this by removing the missing include from the many files that include it but I think this file is required since recent changes but not yet added to the repo or in the wrong place.

[2017-04-25 13:58] fkutzner commented on #247
I'm currently out of town and didn't bring my Windows laptop, but I'll be back later this week and will try to solve these issues. Thanks for putting in the DLL_PUBLIC markers, with these I think I can remove the "export everything" flag.

[2017-04-25 22:11] msoos commented on #248
Thanks for spotting this! I hope this commit fixes it :)

[2017-04-25 22:11] #248 closed

[2017-04-25 22:13] msoos commented on #247
No worries, thanks a lot in advance for taking a peek! Nice travels!

[2017-04-26 22:39] msoos commented on #247
Note: currently it's broken due to the fixing of the linkage stuff. It's trivial to fix it, by commenting out what DLL_PUBLIC does when in MSVC mode, but it works for Linux (which is a good sign) and it's pretty easy to fix, so I'll just leave it as broken and come back to it in a few days. Just don't worry in case you see it broken, it's not _that_ broken :) Also, I fixed the million-warnings iss

[2017-04-27 00:56] TrevorHansen commented on #223
I've tested and now believe that the semantics of bvudiv-by-zero evaluating to -1 are correctly implemented.

[2017-04-27 00:56] #223 closed

[2017-04-27 03:57] TrevorHansen commented on #227
On travis CI, it'd be good to get a static build, with cryptominsat that we can test with the query files.

I've started working on it, but the travisCI website seems broken, I can see the log files on it. I'll fix the current build and continue on when it's working again.

[2017-04-27 05:17] TrevorHansen opened #250 "Valgrind Uninitialised memory warning"
Hi @msoos, When I run the current cytpominisat with STP. I always get the following warning. Does this matter? Are calling the API properly?

[code]

[2017-04-27 22:00] msoos commented on #250
Oops, looks like a CMS issue. I'll look into it. CMS is incredibly tight in this respect, and this is surprise. I haven't fuzzed CMS lately for memory leak, sorry. I'm looking into this :)

[2017-04-28 00:48] TrevorHansen commented on #250
Thanks Mate, I've created an issue in Cryptominsat, let's discuss there. Trev.

[2017-04-28 00:48] #250 closed

[2017-04-28 01:41] TrevorHansen commented on #227
The TravisCI log files are showing up again.  The static build is succeeding, but making a dynamically linked executable.
Here's the log:
https://travis-ci.org/stp/stp/jobs/226275551

 Can you see why this is @msoos?

[2017-04-28 02:13] TrevorHansen opened #251 "Finding LIT when doing a travis CI trusty build"
I've tried to upgrade TravisCI to Ubuntu 14, it seems to work OK, except it can't find LIT.

I get this error message:
pkg_resources.DistributionNotFound: The 'lit==0.5.0' distribution was not found and is required by the application

pip install lit, seems to work ok.

Does anyone have any ideas about what's gone wrong?

Thanks.

[2017-04-30 15:14] fkutzner commented on #247
Thanks, compiling is much, much nicer now :) I've fixed the linkage issue in https://github.com/fkutzner/stp/tree/dllfixes and will resume work there, making a pull request as soon as DLL building works nicely.

[2017-05-01 11:55] msoos commented on #247
Thanks, I had a look, I really liked it so I imported it, along with clearly stating it's your work :)

[2017-05-01 12:02] fkutzner commented on #247
Ok :) I'm still working on that branch, though. I'm making some progress, currently dealing with the symbols in auto-generated parser files.

[2017-05-01 13:35] fkutzner commented on #247
I've just pushed another commit, but please wait until I make a pull request before importing this. There are still errors and I will rewrite things.

[2017-05-01 14:25] msoos commented on #247
Cool, I won't be merging rematurely :)

[2017-05-01 14:40] msoos commented on #227
So, I'm worked a LOT on this. It turns out the cryptominisat also cannot build statically with clang. This is really bad and I'm working through that. Note that that does not affect STP, as STP fails to build with clang even without CMS (only MiniSat).

[2017-05-01 14:40] msoos commented on #251
This is incredibly painful and I have no idea what's going on. I'm also investigating and have poured in at least 2h of work. It's the same issue in builds of CMS -- I'm trying to switch over to Trusty too. So, same issue there, no idea :S If you have any idea, please let me know. Here is what I tried:

* `sudo -H pip install lit`
* running `sudo -H pip install --upgrade pip` before
* downloading

[2017-05-01 15:22] msoos commented on #251
OK, this is fixed now, huh. Closing. The issue was that "lit" should be called on its own:

`lit --version`

but we called it as:

`python lit --version`

and that failed.

[2017-05-01 15:52] msoos commented on #227
OK, I got it nailed down. Final linker command:

$ /usr/bin/clang++   -std=c++11  -pthread -Wall -Wextra -Wunused -pedantic -Wsign-compare -fno-omit-frame-pointer -Wtype-limits -Wuninitialized -Wno-deprecated -Wstrict-aliasing -Wpointer-arith -Wheader-guard -Wpointer-arith -Wformat-nonliteral -Winit-self -Wparentheses -Wunreachable-code -ggdb3 -fPIC -O2 -g     -static -Wl,--whole-archive -lpthread

[2017-05-01 16:09] delcypher commented on #251
@TrevorHansen Can you please point me at the failing build?

@msoos @TrevorHansen You need to be incredibly careful how you use `pip` in TravisCI. In TravisCI the environment is setup to use `virtualenv` by default which means you **should run the pip tool without sudo**. If you run `sudo pip` you are using the system (i.e. Ubuntu's) `pip` rather than the virtualenv `pip` which means whatever you

[2017-05-01 16:12] #251 closed

[2017-05-01 16:12] msoos commented on #251
Ahh. Well, I'll take a peek again. As I said, the "lit" tool just works now, without specifying the python version by running it under python, so I'm kinda happy now. It works for both CryptoMiniSat and STP. Do you think we should run it under python2.7 explicity and fix the install by doing "pip install lit" instead of "sudo -H pip install lit"? I'm happy to try of course, it just has been a very

[2017-05-01 16:12] msoos commented on #251
Thanks for the pro tip about the pip virtualenv in Travis. This was not clear to me at all :S I'm a noob.

[2017-05-01 16:17] delcypher commented on #251
@msoos

The only reason I prefixed the lit tool with the python executable was because I was concerned it wouldn't work on Windows without it. I never really tested this so you change is probably fine for now.

In TravisCI you should replace any `sudo pip ...` invocations with `pip ...` to avoid massive headaches in the future. I was bitten really hard by this confusing behaviour a while back :(

[2017-05-01 16:22] msoos commented on #251
Wow, thanks for the link! I'll keep an eye out. We are fixing the Windows build now with Felix (yay!) and he is working on making the "lit" thing work for tests, it seems OK for now, but I'll keep an eye out for the pitfall of possibly having to run it under python. Thanks again!

[2017-05-01 19:16] msoos commented on #227
Done. There are some other minor issues around, but this is fully fixed. Also, I nailed the tests in static compilation, so that works too now.

[2017-05-01 19:16] #227 closed

[2017-05-01 19:17] msoos commented on #247
Todo:
* DLL (no idea :D )
* tests (should work, but apparently needs "not" installed)
* boost (works, needs uncommenting but something breaks in the end)

[2017-05-03 16:08] Robbepop opened #253 "c_interface.h installation broken with DLL_PUBLIC"
Since `DLL_PUBLIC` was introduced in `c_interface.h` it now has got a new include to `<stp/Util/Attributes.h>` and thus the `c_interface.h` is no longer self-contained.

This should be fixed in one of the following ways:

- Add the `<stp/Util/Attributes.h>` to the public interface - I think this should **not** be done as we should avoid increasing the size of STP's API. Also we should prevent STP'

[2017-05-03 21:30] #253 closed

[2017-05-03 22:35] msoos commented on #247
Currently, the build is passing: https://ci.appveyor.com/project/msoos/stp

What is the status with the DLL, tests and python? Currently, it's built with STATICCOMPILE which is the reason why python is not turned on.

Testing can work with both static and dynamic compile now. We have a "make check". I kinda don't like it, because it doesn't work with "ctest", maybe I could fix that and ctest would

[2017-05-06 12:40] fkutzner commented on #247
I've just checked it out - running the python tests doesn't work right now with a dynamic library MSVC build because the path in library_path.py is generated as ` .../lib/$(Configuration)/stp.dll` (with `$(Configuration)` not being substituted). I'll try to come up with a solution that works both on Unix and Windows.

I've been using `make check`, but would gladly use CTest instead. The less MSBui

[2017-05-06 19:55] msoos commented on #247
Wow, thanks! If you can fix it on AppVeyor, I can fix the Linux part, I promise :) Make a pull request to make it work on Windows, and I'll do the rest :)

[2017-05-07 11:38] fkutzner commented on #247
Ok :) Currently, I'm working https://github.com/fkutzner/stp/commits/win64tests. Yesterday, I've reverted the python binding build scripts to the generator-expression-based approach to see what went wrong on Linux, but right now it seems to work fine, at least on Travis. Did it break testing on Linux on your local machine?

I hoped that enabling the tests on AppVeyor would only involve throwing in

[2017-05-07 23:43] msoos commented on #247
Wow, great work, can you please add a merge request?  I have been working hard to understand CryptoMiniSat under Windows and it's really making progress so if ALL that isn't working is the c-api-tests, then you are making HUGE progress, so I'd love to see it and have a shot at fixing the remaining bit :) Please add a merge request, awesome work!!!